<tr>
  <td><%= flashcard.id %></td>
  <td><%= flashcard.title %></td>
  <td><%= flashcard.video.title if flashcard.video %></td>
  <td><%= flashcard.specialty.name if flashcard.specialty %></td>
  <td><%= flashcard.views %></td>
  <td>
    <ul class="actions">
      <% if flashcard.video %>
        <li><%= link_to 'Preview', video_path(flashcard.video) %></li>
      <% end %>
      <li><%= link_to 'Edit', edit_admin_flashcard_path(flashcard) %></li>
    </ul>
  </td>
</tr>