<div class="row header">
  <h3>Flashcards</h3>
  <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
    <%= link_to "New flashcard", new_admin_flashcard_path, class: 'btn-flat success pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit'} do |f| %>
      <div>
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div>
      <div>
        <%= link_to 'Reset filters', reset_filterrific_url %>
      </div>
      <%= f.submit 'Filter' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class="table table-hover table-striped" border="0">
        <thead>
            <tr>
              <th>#</th>
              <th>Created at</th>
              <th>Title</th>
              <th>Video</th>
              <th>Specialty</th>
              <th>User</th>
              <th>Approved?</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <%= render @flashcards %>
        </tbody>
      </table>
    </div>
  </div>
</div>
