<div class="inner">
  <div class="page">
    <div class="lecture_questions_left_column">
      <div class="lecture_questions_outer_wrapper">
        <div class="lectures_question_title">
          <div class="lectures_question_title_outer_spacing">
            <%= @quiz.current_question.stem.html_safe %>
          </div>
        </div>
        <div class="lecture_question_blocks">
          <div class="inner_page_padding">

            <% if @quiz.answered_correct?(params[:answer_given].to_i) %>
              <div class="correct_question_icon"></div>
              <p class="questions_result_sub_title correct_question_sub_title"><strong>Congratulations!</strong> That is the correct answer.</p>
              <div class="default_lecture_question correct_lecture_answer">
                <p class="lecture_questions_list_left_column"><%= @quiz.correct_answer %></p>
                <p class="lecture_question_status_icon">Correct</p>
              </div>
            <% else %>
              <div class="incorrect_question_icon"></div>
              <p class="questions_result_sub_title"><strong>Sorry!</strong> That is not the correct answer.</p>
              <%= render 'wrong_answer' %>
            <% end %>

            <div class="correct_lecture_answer_info" style="display: block">
              <p><%= simple_format(@quiz.current_question.explanation) %></p>
              <% if @quiz.active? %>
                <p><%= link_to "Next Question", question_path(@quiz.next_question), 
                :class => "red_button medium next_question_button" %></p>
              <% else %>
                <p><%= link_to "Result", questions_result_url, :class => "red_button medium question_result_button" %></p>
              <% end %>
            </div>
            <div class="report_answer_link">
              Please <a href="mailto:contact@podmedics.com">email us</a> if you believe this answer is incorrect
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lecture_questions_right_column">
      <%= render 'question_stats' %>
    </div>

  </div>
</div>

<% if @user_progress.award_badge %>
  <%= render partial: 'shared/award_badge', locals: {user_progress: @user_progress} %>
<% end %>

<%= render partial: 'shared/award_badge', locals: {user_progress: @user_progress} %>