<div class="inner">
  <div class="page">
    <div class="lecture_questions_left_column">
      <div class="lecture_questions_outer_wrapper">
        <div class="lectures_question_title">
          <div class="lectures_question_title_outer_spacing">
            <%= @question.stem.html_safe %>
          </div>
        </div>
        <div class="lecture_question_blocks">
          <div class="inner_page_padding">

            <% if @answer == "true" %>
              <div class="correct_question_icon"></div>
              <p class="questions_result_sub_title correct_question_sub_title"><strong>Congratulations!</strong> That is the correct answer.</p>
              <div class="default_lecture_question correct_lecture_answer">
                <p class="lecture_questions_list_left_column"><%= @correct_answer %></p>
                <p class="lecture_question_status_icon">Correct</p>
              </div>
            <% else %>
              <div class="incorrect_question_icon"></div>
              <p class="questions_result_sub_title"><strong>Sorry!</strong> That is not the correct answer.</p>
              <%= render 'wrong_answer' %>
            <% end %>

            <div class="correct_lecture_answer_info" style="display: block">
              <p><%= simple_format(@question.explanation) %></p>
              <% if @current_question < @q_ids.length %>
                <p><%= link_to "Next Question", question_path(@next_question), :class => "red_button medium next_question_button" %></p>
              <% else %>
                <p><%= link_to "Result", questions_result_url, :class => "red_button medium" %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lecture_questions_right_column">
      <%= render 'question_stats' %>
    </div>

  </div>
</div>

<%= render partial: 'shared/award_badge', locals: {user_progress: @user_progress} %>