<div class="inner about_page_inner">
  <div class="page">
    <div class="lecture_question_blocks">
      <div class="inner_page_padding">
        <div class="questions_result_title">
          <div class="questions_final_results">
            <strong>Congratulations! You have completed all the questions.</strong>
            <p>You answered <%= pluralize(@quiz.number_correct, 'question') %>  correctly out of a total of <%= pluralize(@quiz.total_questions, 'question') %>.</p>
            <% if @quiz.total_questions < 30 %>
              <%= link_to "Back to Video", video_path(@quiz.video), :class => "red_button" %>
            <% else %>
              <%= link_to "Back to Specialty", specialty_path(@quiz.video.specialty), :class => "red_button" %>
            <% end %>
          </div>
        </div>

        <div class="questions_resutls_chart">
          <div id="questions_chart"></div>
        </div>

      </div>
    </div>
  </div>
  <!-- End page -->
</div>
<!-- End inner -->




<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

