<div class="inner">
  <div class="page">
    <div class="lecture_questions_left_column">
      <div class="lecture_questions_outer_wrapper">
        <div class="lecture_question_blocks">
          <div class="inner_page_padding">
            <div class="questions_result_title">
              <strong>Congratulations! You have completed all the questions.</strong>
              <p>You answered <%= pluralize(@number_correct, 'question') %>  correctly out of a total of <%= pluralize(@total_questions, 'question') %>.</p>
              <p><%= link_to "Back to Video", video_path(@video), :class => "red_button medium" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Left column -->

    <div class="lecture_questions_right_column">
      <%= render 'question_stats'  %>
    </div>
    <!-- End right column -->
  </div>
  <!-- End page -->
</div>
<!-- End inner -->




<a href="javascript:;" data-reveal-id="questions_complete_modal" id="questions_complete_modal_click" style="display: none">Questions Complete Modal</a>

<div id="questions_complete_modal" class="reveal-modal questions_complete_modal_spacing">

  <div class="video_complete_modal">
    <div class="questions_complete_icon">Questions Complete</div>
    <p>You scored <%= pluralize(@number_correct, 'question') %>  out of <%= pluralize(@total_questions, 'question') %> Correct</p>
    <%= link_to "Back to Video", video_path(@video), :class => "red_button" %>
  </div>

  <div class="next_tutorial_modal_wrapper">
    <p>Next Tutorial</p>
    <a href="#">ECG Interpretation</a>
  </div>

</div>
