
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <div class="inner_menu_wrapper">
    <div class="main_nav_wrapper" id="main_navigation">
      <%= link_to 'home', root_path , class: "nav-home" %>
      <%= link_to 'our lectures', library_path , class:"nav-lectures" %>
      <%= link_to 'about', about_path , class: "nav-about" %>
      <%= link_to 'faqs',  faqs_path , class: "nav-faqs" %>
      <%= link_to "login", login_path , class: "nav-login" %>
      <%= link_to "sign up", signup_path , class: "nav-signup" %>
      <p class="slideout_nav_podmedics_icon"></p>
    </div>
  </div>
</div>
<div class="navigation_outer_overlay"></div>


<div class="home_page_header">

  <%= link_to '', root_path , class: "podmedics_home_icon" %>
  <!--<a href="javascript:;" class="home_menu_link" id="menu_action">Menu</a>-->

  <div class="home_navigation">
    <%= link_to 'home', root_path , class: "nav-home" %>
    <%= link_to 'videos', library_path , class:"nav-lectures" %>
    <%= link_to 'about', about_path , class: "nav-about" %>
    <%= link_to 'faqs',  faqs_path , class: "nav-faqs" %>
    <%= link_to "login", login_path , class: "nav-login" %>
    <%= link_to "sign up", signup_path , class: "nav-signup" %>
  </div>


  <% content_for :navigation do %>
 <span></span>

  <% end %>

  <div class="inner_home_header">
    <h1>Welcome to Podmedics</h1>
    <p>the online community where you can access tutorials, share insights and compare experiences with thousands of medical students and healthcare professionals.</p>
    <div class="inner_home_header_action_buttons">
      <div class="free_trial_home_sketch"></div>
      <a href="/signup" class="red_button home_action_button">Sign up now to get started</a>
      <a href="/about" class="red_button home_action_button dark_grey">Find out more</a>
    </div>
  </div>
  <div class="home_header_browser_window"></div>


  </div>


<div class="home_section">
  <div class="home_section_one">
    <h2>What is Podmedics</h2>
    <p>Who we are & what we do</p>
    <div class="home_section_one_block">
      <div class="section_one_column">
        <h3>About Podmedics</h3>
        <p>Podmedics has over 200 videos that condense key facts and practical techniques into succinct tutorials, making it easier to absorb and retain essential material. </p>
      </div>
      <div class="icon podmedics_icon"></div>
    </div>

    <div class="home_section_one_block">
      <div class="section_one_column">
        <h3>Medical Revision Tutorials</h3>
        <p>Over 200 concise medical tutorials covering all specialist areas. Available via download or streaming.</p>
      </div>
      <div class="icon lecture_block"></div>
    </div>

    <div class="home_section_one_block">
      <div class="section_one_column">
        <h3>Monitor your performance</h3>
        <p>Your personal dashboard gives you an instant snapshot of your progress… videos watched, online exams passed, questions successfully answered.</p>
      </div>
      <div class="icon questions_block"></div>
    </div>

    <div class="home_section_one_block">
      <div class="section_one_column">
        <h3>Earn badges and show off your skills</h3>
        <p>Win recognition and earn a Podmedics promotion by watching videos, answering questions and contributing to the community.</p>
      </div>
      <div class="icon badges_block"></div>
    </div>
  </div>
</div>

<div class="home_section_two">
  <div class="home_section_inner_wrapper">
    <div class="left_column">
      <h2>Personalised prompts</h2>
      <p>By analysing which tutorials you watch and how you perform in the post-video questions, your personal dashboard will suggest related videos to accelerate your progress.</p>
    </div>
  </div>

  <div class="browser_window"></div>
</div>

<div class="home_section_three">
  <div class="home_section_three_header">
    <h2>Works great on any mobile device</h2>
    <p>Podmedics is configured to work perfectly on any mobile device. We even adjust the size of video files to minimise your data usage.</p>
  </div>

  <div class="home_section_three_devices_wrapper">
    <div class="home_section_three_iphone"></div>
    <div class="home_section_three_ipad"></div>
  </div>
</div>


<div class="home_section_four">
  <div class="browser_window"></div>
  <div class="home_section_inner_wrapper">
    <div class="right_column">
      <h2>Easy-to-access revision notes</h2>
      <p>Make revision notes on-screen and recall them in an instant.</p>
    </div>
  </div>
</div>

<div class="oxford_uni_section">
  <div class="oxford_uni_left_column">
    <div class="oxford_uni_logo"></div>
  </div>

  <div class="oxford_uni_right_column">
    <div class="oxford_uni_text">
      <h3>Delivered by and trusted by the best.</h3>
      <p>Podmedics tutorials are so popular that we’ve been commissioned by Oxford University Press and Elsevier (publishers of Kumar and Clark) to produce a range of videos for wider publication. And many of them are available right here!</p>
    </div>
  </div>

</div>

