<tr>
  <td><%= sale.id %></td>
  <td><%= sale.created_at.to_s(:long) %></td>
  <td><%= sale.product.name %></td>
  <td><%= sale.product.price / 100 %></td>
  <td><%= sale.state %></td>
  <td><%= (link_to sale.user.email, admin_user_path(sale.user)) if sale.user %></td>
  <td>

    <ul class="actions">
      <li><%= link_to "Show", admin_sale_path(sale) %></li>
    </ul>
  </td>
</tr>
