<tr class="specialty <%= specialty.question_status %>">
  <td><%= specialty.id %></td>
  <td><%= link_to specialty.name, admin_specialty_path(specialty) %></td>
  <td><%= specialty.category_name %></td>
  <td><%= specialty.videos.count  %></td>
  <td><%= specialty.questions.count %> (<%= specialty.question_target %>)</td>
  <td>
    <ul class="actions">
      <li><%= link_to "Show", admin_specialty_path(specialty) %></li>
      <li><%= link_to "Edit", edit_admin_specialty_path(specialty) %></li>
      <li><%= link_to "Delete", admin_specialty_path(specialty), method: :delete, data: { confirm: 'Are you sure?'} %></li>
    </ul>
  </td>
</tr>
