<div class="row header">
  <h3><%= @specialty.name %></h3>
  <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
    <%= link_to "Specialties", admin_specialties_path, class: 'btn-flat pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table border="0" class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Title</th>
            <th>Position</th>
            <th>Questions</th>
            <th>Tags</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @specialty.videos.includes(:tags).each do |video| %>
            <tr id="<%= video.id %>" class="<%= video.question_status %>">
              <td><%= video.id %></td>
              <td><%= link_to video.title, admin_video_path(video) %></td>
              <td><%= video.position %></td>
              <td><%= video.questions.count %></td>
              <td><%= video.tag_list %></td>
              <td>
                <%= link_to "Show", admin_video_path(video) %>
                <%= link_to "Edit", edit_admin_video_path(video) %>
                <%= link_to "Up", move_up_admin_video_path(video) %>
                <%= link_to "Down", move_down_admin_video_path(video) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
