<%= form_for @notes, remote: true, authenticity_token: true do |f| %>

  <%= f.text_field :title, class: "notes_column_text_field", placeholder: "Note Title" %>
  <div id="notes_saved_message"></div>
  <%= f.text_area :content, class: "notes_column_text_area", placeholder: "Write your notes here.." %>
  <div class="notes_private_textarea_notice">Notes are private & only visble to you</div>

  <%= f.hidden_field :video_id, id: "notes_video_id", value: @video.id %>

  <div class="notes_column_save_button" >
	<%= f.button "Save Notes", class: "podmedcis_button green", id: "save_notes_button" %>
  <button type="reset" class="podmedcis_button grey_button">Revert</button>

  </div>

<% end %>



<script>

	// Set the interval for autosaving. (Once a minute)
	setInterval(function () { auto_save(); }, <%= Rails.application.config.autosave_timer %>);

	function auto_save()
	{
		var title = $(".notes_column_text_field")[0];
		var form = $(title).parent();

		// Create the hash for sending in the ajax request.
		var hash = {
					  url: $(form).attr("action"),
					  data: $(form).serialize(),
					  dataType: "script",
					  type: 'POST'
					};

		// Send the request
		$.ajax(hash);
	}

</script>