<%= form_for @notes, remote: true, authenticity_token: true do |f| %>

  <%= f.text_field :title, class: "notes_column_text_field", placeholder: "Note Title", value: @notes.title %>

  <%= f.text_area :content, class: "notes_column_text_area", placeholder: "Write your notes here..", value: @notes.content %>

  <%= f.hidden_field :noteable_id, value: @notes.noteable_id %>
  <%= f.hidden_field :noteable_type, value: @notes.noteable_type %>

  <div class="notes_column_save_button" >
	<%= f.button "Save Notes", class: "podmedcis_button green", id: "save_notes_button" %>
  <button type="reset" class="podmedcis_button grey_button" id="revert_notes_button" >Revert</button>
  <div id="notes_saved_message"></div>
  </div>

<% end %>
