<h1><%= "#{current_user}'s Revision Notes"</h1>
Downloaded from Podmedics at www.podmedics.com
<div class="break"></div>

<% unless @notes.empty? %>
  <div class="toc_title">Table of Contents</div>
  <div class="toc">
    <% @notes.each do |category| %>
      <div class="toc_category">
        <%= category.first.first.category.name %>

        <% category.each do |specialty| %>
          <div class="toc_specialty toc_indent">
            <%= specialty.first.specialty.name %>

            <% specialty.each do |note| %>
              <div class="toc_note toc_indent">
                <%= note.get_title %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="break"></div>

<div class="notes">
  <% unless @notes.empty? %>
    <% @notes.each do |category| %>
      <% puts category.inspect %>
      <h2><%= category.first.first.category.name %></h2>


      <% category.each do |specialty| %>
        <h3><%= specialty.first.specialty.name %></h3>

        <%= render partial: 'note', collection: specialty %>

        <div class="break"></div>
      <% end %>

    <% end %>
  <% else %>
    No notes found
  <% end %>
</div>