<div class="flashcard_background"></div>
<div class="flashcard_wrapper">
  <div class="close_flashcard_wrapper">
    <div class="close_flashcard"></div>
  </div>


  <div class="inner_flashcard_wrapper">
    <div class="flashcard_name">
      <%= flashcard.title %>
    </div>
    <div class="flashcard_user_created_name">
      Created by <a href="#">Jamie Peak</a>
    </div>

    <div class="flashcard_divider"></div>

    <div class="flashcard_title">General</div>

    <div class="flashcard_title sub">Epidemiology</div>
    <div class="flashcard_copy">
      <%= flashcard.epidemiology.html_safe %>
    </div>

    <div class="flashcard_title sub">Pathology</div>
    <div class="flashcard_copy">
      <%= flashcard.pathology.html_safe %>
    </div>

    <div class="flashcard_title sub">Top three causes</div>
    <div class="flashcard_copy">
      <%= flashcard.causes.html_safe %>
    </div>

    <div class="flashcard_divider"></div>

    <div class="flashcard_title">Clinical Features</div>

    <div class="flashcard_title sub">Symptoms (general and specific)</div>
    <div class="flashcard_copy">
      <%= flashcard.signs.html_safe %>
    </div>

    <div class="flashcard_title sub">Signs (general and specific)</div>
    <div class="flashcard_copy">
      <%= flashcard.symptoms.html_safe %>
    </div>

    <div class="flashcard_divider"></div>

    <div class="flashcard_title">Investigations</div>
    <div class="flashcard_table_wrapper">
      <table>
        <tr>
          <td class="flashcard_table_left_column">Cultures</td>
          <td><%= flashcard.inv_cultures.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Bloods</td>
          <td><%= flashcard.inv_bloods.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Imaging</td>
          <td><%= flashcard.inv_imaging.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Scopic/Biopsy</td>
          <td><%= flashcard.inv_scopic.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Functional</td>
          <td><%= flashcard.inv_functional.html_safe %></td>
        </tr>
      </table>

    </div>
    <div class="flashcard_divider"></div>

    <div class="flashcard_title">Treatment</div>


    <div class="flashcard_title sub">Conservative</div>
    <div class="flashcard_copy">
      <%= flashcard.treat_cons.html_safe %>
    </div>

    <div class="flashcard_title sub">Medical</div>
    <div class="flashcard_copy">
      <%= flashcard.treat_medical.html_safe %>
    </div>

    <div class="flashcard_title sub">Surgical</div>
    <div class="flashcard_copy">
      <%= flashcard.treat_surgical.html_safe %>
    </div>

  </div>
</div>