<td style="padding-top:20px; padding-bottom:50px;">

  <h1>Hi <%= @user %></h1>

  <p class="inner_sub_title">As one of our highest rated users in <%= @question.specialty.name %>, we thought you might like to answer this question posted by another user.</p>

  <p class="lead">
    <strong><%= @question.content %></strong>
  </p>

  <p>- by <%= @question.user %></p>

  <p class="action_button_wrapper">
    <%= link_to 'Answer question here', specialty_question_url( specialty_id: @question.specialty.id, 
                                                                id: @question.id), class: 'red_button' %>
  </p>

</td>
