<% if comment.commentable_type == 'Comment'%>
<div class="comment_reply" id="<%= comment.id %>">
<% end %>

<% if comment.accepted? %>
<div class="comment accepted_answer_comment" id="<%= comment.id %>">
<% else %>
<div class="comment" id="<%= comment.id %>">
<% end %>

  <% if comment.votable? %>
    <div class="comment_score_wrapper">

      <span class="upvote_arrow">
        <%= link_to "^", vote_comment_path(comment), class: "vote", id: comment.id, remote: true %>
      </span>
      
      <span class="comment_score" id="<%= comment.id %>" >
        <%= "Score: #{comment.score}" %>
      </span>

    </div>
  <% end %>

  <div class="inner_page_padding">
    <div class="comment_avatar">
      <a href="#">
        <img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" />
      </a>
    </div>
    <div class="comment_info">
      <h3 class="comment_username"><a href="#"><%= comment.user.name %></a></h3>
      <p><%= comment.content %></p>
      <p class="comment_date"><%= time_ago_in_words(comment.updated_at) + " ago" %></p>

      <div class="comment_badge_wrapper">
        <div class="badge">
          <p class="badge_title medical_director">Medical Director</p>
          <p class="badge_speciality small_screen_count">+ 1</p>
          <p class="badge_speciality">Cardiology</p>
        </div>
      </div>

      <div class="comment_lower_action_buttons_left">
        <% if comment.acceptable? %>

          <% if @owner == current_user %>

          <% unless comment.root.already_accepted_answer? %>
            <%= link_to "Accept Answer", accept_comment_path(comment), class: "podmedcis_button green accept_answer_button", remote: true %>
          <% end %>

          <% end %>


          <% if comment.accepted %>
      <span class="accepted" id="<%= comment.id %>">
          <% else %>
      <span class="accepted" id="<%= comment.id %>" style="display: none">
          <% end %>
          This is the accepted answer
          </span>

        <% end %>
      </div>



    </div>

    <div class="comment_lower_action_buttons_right">
      <div class="comment_reply_link">
        <a href="javascript:;" id="<%= comment.id %>">Reply</a>
      </div>

      <% if current_user.admin? || comment.user == current_user %>
        <%= link_to "Delete Comment", comment_path(comment), method: "delete", class: "delete_comment_button" %>
      <% end %>
    </div>

  </div>
</div>

<% if comment.commentable_type == 'Comment' %>
</div>
<% end %>
<!-- End comment -->

<%= render partial: 'comments/comment', collection: comment.get_comments %>