<% if comment.commentable.class.name == 'Comment'%>
<div class="comment_reply" id="<%= comment.id %>">
<% end %>

<div class="comment" id="<%= comment.id %>">
  <% if current_user.admin? || comment.user == current_user %>
    <%= link_to "Delete Comment", comment_path(comment), method: "delete" %>
  <% end %>

  <% if comment.votable? %>
    <div class="comment_score_wrapper">

      <% unless comment.already_voted?(current_user) %>
        <%= link_to "^", vote_comment_path(comment), class: "vote", id: comment.id, remote: true %>
      <% end %>

      <span class="comment_score" id="<%= comment.id %>" >
      <%= "Score: #{comment.score}" %>
      </span>

    </div>
  <% end %>


  <% if comment.acceptable? %>

    <% if comment.root.user == current_user %>


      <% unless comment.root.already_accepted_answer? %>
        <%= link_to "Accept Answer", accept_comment_path(comment), class: "podmedcis_button green accept_answer_button", remote: true %>
      <% end %>



    <% end %>


    <% if comment.accepted %>
      <span class="accepted" id="<%= comment.id %>">
    <% else %>
      <span class="accepted" id="<%= comment.id %>" style="display: none">
    <% end %>
    This is the accepted answer
    </span>

  <% end %>





  <div class="inner_page_padding">
    <div class="comment_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>
    <div class="comment_info">
      <h3 class="comment_username"><%= comment.user.name %></h3>
      <p><%= comment.content %></p>
      <p class="comment_date"><%= time_ago_in_words(comment.updated_at) + " ago" %></p>

      <div class="comment_badge_wrapper">
        <a href="#" class="badge">
          <p class="badge_title medical_director">Medical Director</p>
          <p class="badge_speciality small_screen_count">+ 1</p>
          <p class="badge_speciality">Cardiology</p>
        </a>

        <% # Stop hiding the button during tests because activating a hover doesn't play nicely with selenium %>
        <% if ENV["RAILS_ENV"] == 'test' %>
        <div class="comment_reply_link" style="display:inline">
        <% else %>
        <div class="comment_reply_link">
        <% end %>

          <a href="javascript:;" id="<%= comment.id %>">Reply</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% if comment.commentable.class.name == 'Comment' %>
</div>
<% end %>
<!-- End comment -->

<%= render partial: 'comments/comment', collection: comment.get_comments %>