<% if comment.commentable.class.name == 'Comment'%>
<div class="comment_reply" id="<%= comment.id %>">
<% end %>

<div class="comment" id="<%= comment.id %>">
  <div class="inner_page_padding">
    <div class="comment_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>
    <div class="comment_info">
      <h3 class="comment_username"><%= comment.user.name %></h3>
      <p><%= comment.content %></p>
      <p class="comment_date"><%= comment.updated_at %></p>

      <div class="comment_badge_wrapper">
        <a href="#" class="badge">
          <p class="badge_title medical_director">Medical Director</p>
          <p class="badge_speciality small_screen_count">+ 1</p>
          <p class="badge_speciality">Cardiology</p>
        </a>
        <div class="comment_reply_link">
          <a href="javascript:;" id="<%= comment.id %>">Reply</a>
        </div>
      </div>

    </div>
  </div>
</div>

<% if comment.commentable.class.name == 'Comment' %>
</div>
<% end %>
<!-- End comment -->

<%= render partial: 'comments/comment', collection: comment.comments.where(hidden: false) %>