<% if comment.commentable_type == 'Comment'%>
<div class="comment_reply" id="<%= comment.id %>">
<% end %>

<% if comment.accepted? %>
<div class="comment accepted_answer_comment" id="<%= comment.id %>">
<% else %>
<div class="comment" id="<%= comment.id %>">
<% end %>

  <% if comment.votable? %>
    <div class="comment_score_wrapper">

      <span class="upvote_arrow">
        <%= link_to "^", vote_comment_path(comment), class: "vote", id: comment.id, remote: true %>
      </span>
      
      <span class="comment_score" id="<%= comment.id %>" >
        <%= "Score: #{comment.score}" %>
      </span>

    </div>
  <% end %>

  <div class="inner_page_padding">
    <div class="comment_avatar">
      <%= link_to user_path(comment.cached_user) do %>
        <%= image_tag comment.cached_user.get_avatar(:thumb, request) %>
      <% end %>
    </div>
    <div class="comment_info">
      <h3 class="comment_username"><%= link_to comment.cached_user, comment.cached_user %></h3>
      <p><%= simple_format(comment.content) %></p>
      <p class="comment_date"><%= time_ago_in_words(comment.updated_at) + " ago" %></p>

      <div class="comment_badge_wrapper">
        <div class="badge">
          <%= show_specialty_badge(comment.user, comment.root.specialty) %>
        </div>
      </div>

      <div class="comment_lower_action_buttons_left">
        <% if comment.acceptable? %>
          <% @owner ||= comment.root.cached_user %>
          <% if @owner == current_user && !comment.root.already_accepted_answer? %>
            <%= link_to "Accept Answer", 
                        accept_comment_path(comment), 
                        class: "podmedcis_button green accept_answer_button", 
                        remote: true %>
          <% end %>


          <% if comment.accepted %>
            <span class="accepted" id="<%= comment.id %>">
          <% else %>
            <span class="accepted" id="<%= comment.id %>" style="display: none">
          <% end %>
          This is the accepted answer
          </span>

        <% end %>
      </div>



    </div>

    <div class="comment_lower_action_buttons_right">
      <div class="comment_reply_link">
        <a href="javascript:;" id="<%= comment.id %>">Reply</a>
      </div>

      <% if current_user.admin? || comment.cached_user == current_user %>
        <%= link_to "Delete Comment", 
                    comment_path(comment), 
                    method: "delete", 
                    class: "delete_comment_button",
                    data: { confirm: "Are you sure you want to delete this comment?" } %>
      <% end %>
    </div>

  </div>
</div>

<% if comment.commentable_type == 'Comment' %>
</div>
<% end %>
<!-- End comment -->

<%= render partial: 'comments/comment', collection: comment.cached_comments %>
