<%= form_for @comment, remote: true, :authenticity_token => true do |f| %>
  <div id="reply_cancel_box" >
  You are replying to <%= link_to "nobody", "#", id: "reply_user_name" %>. <%= link_to "Cancel Reply", "#", id: "reply_cancel_button" %>
  </div>
  <p>
    <%= f.text_area :content, class: "comments_textarea", placeholder: "Write your comment/question here..." %>
  </p>
  <p>
    <% unless ENV["RAILS_ENV"] == 'test' %>
        <%= f.hidden_field :commentable_id, id: "comment_commentable_id", value: root.id %>
    <% else %>
        <%= f.text_field :commentable_id, id: "comment_commentable_id", value: root.id %>
    <% end %>
  </p>
  <p>
    <% unless ENV["RAILS_ENV"] == 'test' %>
        <%= f.hidden_field :commentable_type, id: "comment_commentable_type", value: root.class.name %>
    <% else %>
        <%= f.text_field :commentable_type, id: "comment_commentable_type", value: root.class.name %>
    <% end %>
  </p>
  <p>
    <%= f.button "Post", class: "podmedcis_button green" %>
  </p>

<% end %>
