<tr class="faq">
  <td><%= faq.id %></td>
  <td><%= faq.title %></td>
  <td><%= faq.member_only %></td>
  <td>
    <ul class="actions">
      <li><%= link_to "Edit", edit_admin_faq_path(faq) %></li>
      <li><%= link_to 'Remove', admin_faq_path(faq), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </td>
</tr>
