<div class="row header">
  <div class="col-md-12">
    <h3><%= @author.name %></h3>
    <%= image_tag @author.get_avatar(:square, request) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><%= @author.tagline %></p>
    <p><%= @author.twitter %></p>
    <p><%= @author.facebook%></p>
  </div>
</div>
