<div class="row header">
  <h3>Quizes</h3>
</div>

<%= will_paginate @questions %>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class="table table-hover" border="0">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Created at</th>
            <th>Video</th>
            <th>User</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.id %></td>
              <td><%= question.created_at %></td>
              <td><%= link_to question.question.video.title, admin_video_path(question.question.video) %></td>
              <td><%= link_to question.user.name, admin_user_path(question.user) %></td>
              <td><%= question.correct %></td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
    </div>
  </div>
</div>

<%= will_paginate @questions %>
