<%= content_for(:title) { "Podmedics | Edit Profile"} %>

<div class="inner signup_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Edit your profile</h1>
    <div class="sub_heading_button_set">
      <%= link_to 'Back', user_path(@user), class: "podmedcis_button red" %>
    </div>
  </div>

  <div class="page edit_profile">
    <div class="left_column_forms">
      <div class="login_ignup_form_wrapper">
        <div class="edit_profile_form">
          <h2>Your Details</h2>
          <%= form_for @user do |f| %>

            <% if @user.errors.any? %>
              <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                  <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'podmedics_textfield' %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'podmedics_textfield' %>

            <%= f.label :website %>
            <%= f.text_field :website, class: 'podmedics_textfield' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'podmedics_textfield' %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'podmedics_textfield' %>

            <div class="profile_avatar_field">
              <a  href="javascript:;" id="change_profile_image_button" class="grey_button">Change Profile Image</a>
              <div class="profile_avatar_upload_wrapper">
              <% if Rails.env.test?  %>
                <%= f.label :avatar %>
              <% end %>
              <%= f.file_field :avatar %>
              </div>
            </div>

            <div class="checkbox_wrapper">
              <%= f.check_box :receive_newsletters %>
              <%= f.label :receive_newsletters, 'Receive newsletters' %>
            </div>

            <div class="checkbox_wrapper">
              <%= f.check_box :receive_status_updates %>
              <%= f.label :receive_status_updates, 'Receive updates on badges and ranks' %>
            </div>

            <div class="checkbox_wrapper">
              <%= f.check_box :receive_new_episode_notifications %>
              <%= f.label :receive_new_episode_notifications, 'Receive new episode notifications' %>
            </div>

            <div class="checkbox_wrapper">
              <%= f.check_box :receive_social_notifications %>
              <%= f.label :receive_social_notifications, 'Receive social notifications (e.g. comment replies, question replies)' %>
            </div>

            <div class="checkbox_wrapper">
              <%= f.check_box :receive_help_request_notifications %>
              <%= f.label :receive_help_request_notifications, 'Receive notifications when questions posted in specialty you are in the top five for' %>
            </div>

            <%= f.button 'Update Profile', class: 'red_button edit_profile_button' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="profile_notifications_block">
      <h3>Membership Status</h3>

      <% if current_user.has_subscription_and_in_date? %>
        <p class="active_subscription_text">You have an active subscription</p>
        <p>You subscribed on <%= current_user.subscribed_on.to_s(:long) %></p>
        <p>You subscription will expire on <%= current_user.expires_on.to_s(:long) %></p>
      <% else %>
        <% if current_user.subscribed_on %>
          <p class="expired_subscription_text">Your subscription has expired</p>
        <% end %>

        <p>You are currently on a free plan.</p>
        <p>
          <%= link_to "Upgrade your subscription", show_buy_path(current_user), class: 'podmedcis_button grey' %>
        </p>

      <% end %>
    </div>

    </div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
