<div class="inner signup_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Edit your profile</h1>
  </div>

  <div class="page">
    <div class="left_column_forms">
      <div class="login_ignup_form_wrapper">
        <div class="edit_profile_form">
          <h2>Your Details</h2>
          <%= form_for @user do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'podmedics_textfield' %>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'podmedics_textfield' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'podmedics_textfield' %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'podmedics_textfield' %>
            <div class="profile_avatar_field">
              <a  href="javascript:;" id="change_profile_image_button" class="grey_button">Change Profile Image</a>
              <div class="profile_avatar_upload_wrapper"><input type="file" name="image"/></div>
            </div>
            <%= f.button 'Update profile', class: 'red_button edit_profile_button' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="right_column_forms">
      <h3>Membership</h3>
      <p>Membership info to go here</p>
      <p>e.g. last payment, subscription valid, link to generate receipt etc.</p>
    </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
