<div class="inner signup_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Edit your profile</h1>
  </div>

  <div class="page">
    <div class="left_column_forms">
      <div class="login_ignup_form_wrapper">
        <div class="edit_profile_form">
          <h2>Your Details</h2>
          <%= form_for @user do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'podmedics_textfield' %>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'podmedics_textfield' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'podmedics_textfield' %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'podmedics_textfield' %>
            <div class="profile_avatar_field">
              <a  href="javascript:;" id="change_profile_image_button" class="grey_button">Change Profile Image</a>
              <div class="profile_avatar_upload_wrapper"><input type="file" name="image"/></div>
            </div>
            <%= f.button 'Update Profile', class: 'red_button edit_profile_button' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="right_column_forms">
      <h3>Membership</h3>
      <p>Membership info to go here</p>
      <p>e.g. last payment, subscription valid, link to generate receipt etc.</p>
      <p>Last Payment: <strong>12/09/06</strong></p>
    </div>

    <div class="profile_notifications_block">
      <h3>Membership Status</h3>

      <!-- Shown if user has a valid subscription -->
      <!--

      <p class="active_subscription_text">You have an active subscription</p>

      -->

      <!-- Shown if user has an expired subscription -->

      <p class="expired_subscription_text">Your subscription has expired</p>
      <p><a href="#" class="podmedcis_button grey">Renew Your Subscription</a></p>
      <!-- End expired subscription -->

    </div>

    <div class="right_column_forms notifications_inner_wrapper">
      <h3>Notification Settings</h3>

      <div class="checkbox_wrapper">
        <input type="checkbox" name="newsletter" id="newsletter" value="1">
        <label for="newsletter">Receive Newsletter</label>
      </div>

      <div class="checkbox_wrapper">
        <input type="checkbox" name="question_replies" id="question_replies" value="1">
        <label for="question_replies">Question Replies</label>
      </div>

      <div class="checkbox_wrapper">
        <input type="checkbox" name="new_lectures" id="new_lectures" value="1">
        <label for="new_lectures">New lectures are added</label>
      </div>

      <div class="checkbox_wrapper">
        <input type="checkbox" name="activity" id="activity" value="1">
        <label for="activity">Weekly Activity</label>
      </div>

    </div>

    <div class="right_column_forms receipt_user_settings_block">
      <p><a href="#" class="podmedcis_button grey">Print Receipt</a></p>
    </div>

    </div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
