<div class="inner signup_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Sign Up</h1>
    <p>Gain instant access to all our videos and revision tools.</p>
  </div>

  <div class="page">
    <div class="left_column_forms">
      <div class="social_signup_wrapper">
        <div class="social_signup_button_wrapper">
          <a href="/auth/twitter" class="twitter_social_button">Sign up via <strong>Twitter</strong></a>
          <p>Or</p>
          <a href="/auth/facebook" class="fb_social_button" id="facebook_sign_in">Sign up via <strong>Facebook</strong></a>
        </div>
        <p class="social_option_final_line">or complete the short form below</p>
      </div>

      <div class="login_ignup_form_wrapper">
        <h2>Your Details</h2>
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, input_html: {class: 'podmedics_textfield', autofocus: true}, label: false, placeholder: 'Name' %>
          <%= f.input :email, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Email' %>
          <%= f.input :password, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Password' %>
          <%= f.input :password_confirmation, input_html: { class: 'podmedics_textfield'}, label: false, placeholder: 'Password confirmation' %>
          <button type="submit" class="red_button">Sign up</button>
        <% end %>
      </div>
    </div>

    <div class="right_column_forms">
      <h3>What we offer?</h3>
      <p>We offer both free and paid subscriptions.</p>
      <p>Our <strong>free</strong> plan lets you unlock all the videos and questions in two specialties of your choice.</p>
      <p>Our <strong>paid</strong> plans give you <strong>complete access</strong> and start at £22 for 6 months.</p>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

