
<div class="inner signup_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Sign Up</h1>
    <p>Not happy? We offer a 100% money back within the first 48 hours of signing up.</p>
  </div>

  <div class="page">
    <div class="left_column_forms">
      <div class="social_signup_wrapper">
        <h2>Sign Up Using Twitter or Facebook</h2>
        <div class="social_signup_button_wrapper">
          <a href="#" class="twitter_social_button">Sign up via <strong>Twitter</strong></a>
          <p>Or</p>
          <a href="#" class="fb_social_button">Sign up via <strong>Facebook</strong></a>
        </div>
        <p class="social_option_final_line">Don't want to use twitter or facebook you can sign up below</p>
      </div>

      <div class="login_ignup_form_wrapper">
        <h2>Your Details</h2>
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Email' %>
          <%= f.input :password, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Password' %>
          <%= f.input :password_confirmation, input_html: { class: 'podmedics_textfield'}, label: false, placeholder: 'Password confirmation' %>
          <button type="submit" class="red_button">Sign-up and proceed to payment</button>
        <% end %>
      </div>



    </div>

    <div class="right_column_forms">
      <h3>Membership Info</h3>
      <p>There are over 150 medical video tutorials on Podmedics that cover topics throughout medicine, surgery and all the clinical specialties. </p>
      <p>We are also adding new ones all the time - at a rate of about one per week.</p>
      <p>Do feel free to drop us an email anytime at <a href="mailto:contact@podmedics.com"><strong>contact@podmedics.com</strong></a> and we would be delighted to give you any further information that you require.</p>
    </div>
  </div>
</div>






