<%= content_for(:title) { "Podmedics | Signup"} %>

<div class="inner login_page_inner">
  <div class="page">
    <div class="left_column_forms">
      <div class="signup_form_header_copy">
        <p>Podmedics is 100% free. We want to start a revolution in high-quality global medical education, and it starts right here. Signing up gives you access to 100s of videos, 1000s of questions and a great community of students and doctors all over the world.</p>
        <p>Want to checkout what we do - please take a look at the interactive questions on the <%= link_to 'home page', root_path %> and our <%= link_to 'video library', library_path %></p>
      </div>

      <div class="social_signup_wrapper">
        <div class="social_signup_button_wrapper">
          <a href="/auth/twitter" class="twitter_social_button">Sign up via <strong>Twitter</strong></a>
          <p>Or</p>
          <a href="/auth/facebook" class="fb_social_button" id="facebook_sign_in">Sign up via <strong>Facebook</strong></a>
        </div>
        <p class="social_option_final_line">or...</p>
      </div>

      <div class="login_ignup_form_wrapper">
        <h2>Signup Manually</h2>
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, input_html: {class: 'podmedics_textfield', autofocus: true}, label: false, placeholder: 'Full Name' %>
          <%= f.input :email, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Email' %>
          <%= f.input :password, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Password' %>
          <%= f.input :password_confirmation, input_html: { class: 'podmedics_textfield'}, label: false, placeholder: 'Password confirmation' %>
          <button type="submit" class="red_button">Signup</button>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    mixpanel.track('Hit Signup');
  });
</script>

