<%= content_for(:title) { "Podmedics | Signup"} %>

<div class="inner signup_page_inner">
  <!-- <div class="sub_heading_wrapper">
    <h1>Sign Up</h1>
    <p>Gain instant access to all our videos and revision tools.</p>
  </div> -->

  <div class="page">
    <div class="left_column_forms">
      <div class="social_signup_wrapper">
        <div class="social_signup_button_wrapper">
          <a href="/auth/twitter" class="twitter_social_button">Sign up via <strong>Twitter</strong></a>
          <p>Or</p>
          <a href="/auth/facebook" class="fb_social_button" id="facebook_sign_in">Sign up via <strong>Facebook</strong></a>
        </div>
        <p class="social_option_final_line">or...</p>
      </div>

      <div class="login_ignup_form_wrapper">
        <h2>Signup Manually</h2>
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, input_html: {class: 'podmedics_textfield', autofocus: true}, label: false, placeholder: 'Full Name' %>
          <%= f.input :email, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Email' %>
          <%= f.input :password, input_html: {class: 'podmedics_textfield'}, label: false, placeholder: 'Password' %>
          <%= f.input :password_confirmation, input_html: { class: 'podmedics_textfield'}, label: false, placeholder: 'Password confirmation' %>
          <p class="signup_data_message">By signing up you are indicating you have read and agree to our <%= link_to 'Terms And Conditions', terms_path %></p>
          <button type="submit" class="red_button">Sign up now</button>
        <% end %>
      </div>
    </div>

    <div class="right_column_forms">
      <h3>What we offer?</h3>
      <p>We offer a <strong>free plan</strong> that allows you unlock two specialties of your choice.</p>
      <p>We also offer subscriptions for either <strong>6 months (&pound;18)</strong> or <strong>12 months (&pound;30)</strong> that give full access to the site.</p>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    mixpanel.track('Hit Signup');
  });
</script>

