<div class="inner profile_page_inner">

  <% if allow? "users", "edit", @user %>
    <div class="sub_heading_wrapper">
      <div class="sub_heading_button_set">
        <%= link_to "Edit your profile", edit_user_path(@user), class: "podmedcis_button red" %>
      </div>
    </div>
  <% end %>

  <div class="page">

    <div class="profile_header">
      <div class="profile_avatar"><%= image_tag @user.get_avatar(:square) %></div>
      <h1><%= @user.name %></h1>
    </div>

    <div class="profile_body">
      <div class="profile_inner profile_counts">

        <div class="profile_count_wrapper">

          <div class="profile_count points">
            <p class="number"><%= @user.points %></p>
            <p>Points in total</p>
          </div>

          <div class="profile_count exams">
            <%= exams_passed %>
            <p>Exams Passed</p>
          </div>

          <div class="profile_count badges">
            <p class="number"><%= @user.badges.count %></p>
            <p>Badges Earned</p>
          </div>

        </div>

      </div>

      <% if current_user.badges.any? %>
        <div class="profile_inner profile_badges">
          <div class="inner_page_padding">
            <%= render 'shared/badges' %>
          </div>

        </div>
      <% end %>

      <div class="profile_inner social_links_profile">
        <div class="inner_page_padding">
          <%= render 'social_buttons' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper login_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
