<%= content_for(:title) { "Podmedics | Profile"} %>

<div class="inner profile_page_inner">

  <div class="page">

    <div class="profile_header">
      <div class="profile_avatar"><%= image_tag @user.get_avatar(:square, request) %></div>
      <h1><%= @user %></h1>
      <% if allow? "users", "edit", @user %>
        <div class="edit_profile_link">
          <%= link_to "Edit your profile", edit_user_path(@user), class: "podmedcis_button red" %>
        </div>
      <% end %>
    </div>

    <div class="profile_body">
      <div class="profile_inner profile_counts">
        <div class="profile_count_wrapper">
          <div class="profile_count points">
            <p class="number"><%= @user.points %></p>
            <p>Points in total</p>
          </div>

          <div class="profile_count exams">
            <p class="number"><%= @user.user_questions.count %></p>
            <p>Questions</p>
          </div>

          <div class="profile_count badges">
            <p class="number"><%= @user.badges.count %></p>
            <p>Badges Earned</p>
          </div>
        </div>
      </div>

      <% if @user.badges.any? %>
        <div class="profile_inner profile_badges">
          <div class="inner_page_padding">
            <%= render partial: 'shared/badges', locals: {user: @user, badges: @user.badges.includes(:specialty)} %>
          </div>
        </div>
      <% end %>

      <div class="profile_inner social_links_profile">
        <div class="inner_page_padding">
          <%= render 'social_buttons' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper login_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
