<p class="lecture_by_title">Lecture by</p>

<div class="video_page_authour_right_column_user_info">
  <div class="video_page_authour_right_column_avatar"><img src="<%=asset_path "avatar-128.jpg"%>" width="128" height="128" /></div>
  <div class="video_page_authour_right_column_user_info_inner_wrapper">
    <p class="video_page_authour_right_column_name"><%= @video.author.name %><p>
    <p class="video_page_authour_right_column_title"><%= @video.author.tagline %></p>
  </div>
  <%= link_to '', @video.author.twitter,  class: 'video_page_authour_twitter_icon', target: '_blank' %>
  <%= link_to '', @video.author.facebook, class: 'video_page_authour_fb_icon', target: '_blank' %>
</div>
