<div class="video_page_header">
  <div class="inner video_page">
    <div class="video_page_heading_wrapper">
      <h1><%= @video.title %></h1>
      <p class="video_breadcrumb">
        <%= link_to @video.specialty_name, specialty_path(@video.specialty) %>
        / 
        <%= link_to @video.title, video_path(@video) %>
      </p>
    </div>

    <div class="video_page_heading_button_set">
      <div class="video_download_dropdown">
        <a href="#" class="podmedcis_button white_download_button">Download</a>
        <div class="video_download_dropdown_inner">
          <%= link_to "Video file", video_download_video_path(@video), class: 'video_download_dropdown_link video_file_icon' %>
          <%= link_to "Audio File", video_download_audio_path(@video), class: 'video_download_dropdown_link audio_file_icon' %>
          <%= link_to "Slides", video_download_slides_path(@video), class: 'video_download_dropdown_link slides_file_icon' %>
        </div>
      </div>

      <% if questions_exist %>
        <%= link_to video_questions_url(:video_id => @video.id), class: "podmedcis_button take_exam_button" do %>
          <span>Answer</span> Questions
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="inner_divide_video_wrapper">
  <div class="inner video_page">
    <div class="video_header_outer">

      <div class="video_page_author_duration_header">
        <p class="video_author_duration_subtitle"><%= @video.duration %> minutes with <%= @video.speaker_name %></p>
        <p><%= @video.description %></p>
      </div>

      <div class="video_header_inner">
        <div class="video_column">
          <div class="vendor">
            <iframe src="//player.vimeo.com/video/<%= @video.vimeo_identifier %>?api=1&portrait=0&color=fa3f52&player_id=vimeoplayer" width="400" height="225" frameborder="0" id="vimeoplayer"></iframe>
          </div>
        </div>
        <div class="video_page_notes_column">
          <div class="video_page_notes_column_title">
            <strong>Notes</strong>
            <p>Save personal notes for reference later</p>
          </div>
          <div class="video_page_notes_column_divide"></div>
          <%= render partial: 'notes/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inner video_page">
  <div class="page">
    <div class="speciality_left_column">

      <div class="lectures_speciality_outer_wrapper">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-2" title="" class="comments_tab"><p>Comments (<%= @video.comments_count %>)</p><p class="icon"></p></a></li>
          </ul>

          <div id="tabs_container">
            <div id="tabs-2" class="tab_box">
              <div>
                <div class="questions_answers_main_question video_page_comments_wrapper" >

                  <% if @video.comments_count == 0 %>
                  <div class="no_questions_reply_wrapper">
                    Nothing posted yet. 
                    <a href="javascript:;">
                      Be the first to comment.
                    </a>
                  </div>
                  <% end %>

                  <div class="questions_aswer_comment_textarea" id="comment_reply_textarea">
                    <div class="inner_page_padding comments_textarea_wrapper">
                      <%= render partial: 'comments/form', locals: {root: @video} %>
                    </div>
                  </div>

                  <div class="question_comments_outer">
                    <%= render partial: 'comments/comment', collection: @video.get_comments %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="video_page_right_column">
      <% if @video.author %>
        <%= render 'author' %>
      <% end %>

      <div class="video_page_right_column_lower_info">
        <p>Video Duration: <strong><%= @video.duration %> minutes</strong></p>
        <p>Views: <strong><%= @video.views %></strong></p>
        <p>Comments: <strong><%= @video.comments_count %></strong></p>
      </div>
    </div>

    <div class="clear"></div>
  </div>


  <%= content_for :footer do %>
      <%= render 'footer' %>
  <% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    // Rich text editing
    $('#note_content').redactor();
  });
  
</script>

</div>
