<%= content_for(:title) { "Podmedics | #{@video.title}" } %>

<div class="video_page_header">
  <div class="inner video_page">
    <div class="video_page_heading_wrapper">
      <h1><%= @video.title %></h1>
      <p class="video_breadcrumb">
        <%= link_to @specialty.name, specialty_path(@specialty) %>
        /
        <%= link_to @video.title, video_path(@video) %>
      </p>
    </div>

    <div class="video_page_heading_button_set">
      <a href="javascript:;" class="podmedcis_button green flash_cards_button">Flash Card</a>
      <div class="video_download_dropdown">
        <a href="#" class="podmedcis_button white_download_button">Download</a>
        <div class="video_download_dropdown_inner">
          <%= render partial: 'downloads' %>
        </div>
      </div>

      <% if questions_exist %>
        <%= link_to video_questions_url(:video_id => @video.id), class: "podmedcis_button take_exam_button" do %>
          <span id="tour_exam_button">Answer</span> Questions
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="inner_divide_video_wrapper">
  <div class="inner video_page">
    <div class="video_header_outer">

      <div class="video_page_author_duration_header">
        <p><%= @video.description %></p>
      </div>

      <div class="video_page_tags_wrapper">
        <% cache @video do %>
          <%= render @video.tags %>
        <% end %>
      </div>

      <div class="video_header_inner">
        <div class="video_column">
          <div class="vendor">
            <iframe src="https://player.vimeo.com/video/<%= @video.vimeo_identifier %>?api=1&portrait=0&color=fa3f52&player_id=vimeoplayer" width="400" height="225" frameborder="0" id="vimeoplayer"></iframe>
          </div>
        </div>

        <div class="video_page_notes_column">
          <div class="video_page_notes_column_title">
            <strong>Notes</strong>
            <p>Save personal notes for reference later</p>
          </div>
          <div class="video_page_notes_column_divide"></div>
          <%= render partial: 'notes/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inner video_page">
  <div class="page">
    <div class="speciality_left_column">

      <div class="lectures_speciality_outer_wrapper">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-2" title="" class="comments_tab"><p>Comments/Questions (<%= @video.cached_comments_count %>)</p><p class="icon"></p></a></li>
          </ul>

          <div id="tabs_container">
            <div id="tabs-2" class="tab_box">
              <div>
                <div class="questions_answers_main_question video_page_comments_wrapper" >

                  <% if @video.cached_comments_count == 0 %>
                  <div class="no_questions_reply_wrapper">
                    Nothing posted yet.
                    <a href="javascript:;">
                      Be the first to comment.
                    </a>
                  </div>
                  <% end %>

                  <div class="questions_aswer_comment_textarea" id="comment_reply_textarea">
                    <div class="inner_page_padding comments_textarea_wrapper">
                      <%= render partial: 'comments/form', locals: {root: @video} %>
                    </div>
                  </div>

                  <div class="question_comments_outer">
                    <%= render partial: 'comments/comment', collection: @video.cached_comments %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="video_page_right_column">
      <% if @author %>
        <%= render 'author' %>
      <% end %>

      <div class="video_page_right_column_lower_info">
        <p>Video Duration: <strong><%= @video.duration %> minutes</strong></p>
        <p>Views: <strong><%= @video.views %></strong></p>
        <p>Comments: <strong><%= @video.cached_comments_count %></strong></p>
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <%= content_for :footer do %>
      <%= render 'footer' %>
  <% end %>

</div>

<script id="progress_json" type="text/json">
    <%= raw @progress.to_json %>
</script>







<div class="flashcard_background"></div>
<div class="flashcard_wrapper">
  <div class="close_flashcard_wrapper">
    <div class="close_flashcard"></div>
  </div>


  <div class="inner_flashcard_wrapper">
    <div class="flashcard_name">
      <%= @flashcard.title %>
    </div>

    <div class="flashcard_divider"></div>

    <div class="flashcard_title">General</div>

    <div class="flashcard_title sub">Epidemiology</div>
    <div class="flashcard_copy">
      <%= @flashcard.epidemiology.html_safe %>
    </div>

    <div class="flashcard_title sub">Pathology</div>
    <div class="flashcard_copy">
      <%= @flashcard.pathology.html_safe %>
    </div>

    <div class="flashcard_title sub">Top three causes</div>
    <div class="flashcard_copy">
      <%= @flashcard.causes.html_safe %>
    </div>

    <div class="flashcard_divider"></div>

    <div class="flashcard_title">Clinical Features</div>

    <div class="flashcard_title sub">Symptoms (general and specific)</div>
    <div class="flashcard_copy">
      <%= @flashcard.signs.html_safe %>
    </div>

    <div class="flashcard_title sub">Signs (general and specific)</div>
    <div class="flashcard_copy">
      <%= @flashcard.symptoms.html_safe %>
    </div>

    <div class="flashcard_divider"></div>

    <div class="flashcard_title">Investigations</div>
    <div class="flashcard_table_wrapper">
      <table>
        <tr>
          <td class="flashcard_table_left_column">Cultures</td>
          <td><%= @flashcard.inv_cultures.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Bloods</td>
          <td><%= @flashcard.inv_bloods.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Imaging</td>
          <td><%= @flashcard.inv_imaging.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Scopic/Biopsy</td>
          <td><%= @flashcard.inv_scopic.html_safe %></td>
        </tr>
        <tr>
          <td class="flashcard_table_left_column">Functional</td>
          <td><%= @flashcard.inv_functional.html_safe %></td>
        </tr>
      </table>

    </div>
    <div class="flashcard_divider"></div>

    <div class="flashcard_title">Treatment</div>


    <div class="flashcard_title sub">Conservative</div>
    <div class="flashcard_copy">
      <%= @flashcard.treat_cons.html_safe %>
    </div>

    <div class="flashcard_title sub">Medical</div>
    <div class="flashcard_copy">
      <%= @flashcard.treat_medical.html_safe %>
    </div>

    <div class="flashcard_title sub">Surgical</div>
    <div class="flashcard_copy">
      <%= @flashcard.treat_surgical.html_safe %>
    </div>











  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    // track video page view
    var title = "<%= @video.title %>"
    mixpanel.track('Video played', {
      "name" : title
    });

    // track hitting the quiz button from here
    mixpanel.track_links("a.take_exam_button", "Click Video Quiz", {
      "name" : title
    });
  });
</script>
