<div class="lecture_questions_right_column notes_right_column">

  <% if current_user.is_trial_member? && !current_user.has_access_to?(@specialty) %>
    <div class="unlock_specialty_outer_wrapper">
      <div class="unlock_specialty_wrapper">
        <%= link_to "Unlock this specialty", specialty_specialty_unlocks_path(@specialty), method: :post, class: "podmedcis_button green" %>
        <div class="unlock_specialty_tooltip">Unlocking this specialty will give you access to all videos and questions</div>
      </div>
    </div>
  <% end %>

  <% if @specialty.cached_notes_count(current_user) > 0 %>
    <a href="javascript:;" class="notes_saved_button" id="notes_saved_button">
      <p class="questions_info_right_column_number"><%= @specialty.cached_notes_count(current_user) %></p>
      <p><%= pluralize(@specialty.cached_notes_count(current_user), 'Note').split[1] %> saved within <%= @specialty.name.upcase %></p>
    </a>
  <% end %>

  <div id="speciality_default_right_column">

    <div class="points_until_next_badge_section">
      <div class="points_until_next_badge_wrapper">
        <%# cache "next_badge_for_progress_(#{@user_progress.user_specialty_points}_#{@user_progress.next_badge_points})_for_specialty_#{@specialty.id}", skip_digest: true do %>
          <%= get_next_badge(@user_progress, @specialty) %>
        <%# end %>
      </div>
      <div class="how_to_earn_points_modal_link">
        <a href="#"  data-reveal-id="earn_points_modal">How do I earn points?</a>
      </div>

    </div>

    <div id="earn_points_modal" class="reveal-modal earn_points_modal_resize">
      <div class="earn_points_modal_resize_inner_spacing">
        <div class="ask_question_modal_title">How do I earn points?</div>
        <p>
        By earning points you earn badges! How exciting!<br>
        Here are just a few of the things you earn points for:
        <ul class="points_list">
          <li>Answering a question: <%= POINTS[:correct_answer] %></li>
          <li>Watching a video: <%= POINTS[:watched_video] %></li>
          <li>Commenting on videos: <%= POINTS[:answered_user_question] %></li>
        </ul>
        </p>
      </div>
    </div>

    <div class="top_ranked_users_section">
      <h3>Top Users</h3>
      <ol>
        <% @top_five.each_with_index do |badge, index| %>
          <li>
            <div class="top_ranked_users_rank_number"><%= index + 1 %>.</div>

            <div class="top_ranked_users_section_avatar">
              <%= image_tag badge.user.get_avatar(:square) %>
            </div>
            <div class="top_ranked_users_info_section_wrapper">
              <div class="top_ranked_users_section_username">
                <%= link_to "#{badge.user.name}", user_path(badge.user) %>
              </div>
              <div class="top_ranked_users_section_badge_wrapper">
                <div class="badge">
                  <%= show_badge_without_specialty(UserProgress.new(@specialty, badge.user).current_badge) %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="main_notes_right_column_wrapper">
    <%= render partial: 'notes/sidebar_note', collection: @specialty.cached_notes(current_user) %>
  </div>

  <div class="full_note_outer_wrapper"></div>
</div>
