<div class="lecture_questions_right_column notes_right_column">

  <% if @specialty.notes.count > 0 %>
    <a href="javascript:;" class="notes_saved_button" id="notes_saved_button">
      <p class="questions_info_right_column_number"><%= @specialty.notes.count %></p>
      <p><%= pluralize(@specialty.notes.count, 'Note').split[1] %> saved within Cardiology</p>
    </a>
  <% end %>


  <div id="speciality_default_right_column">
    <div class="questions_info_right_column_section">
      <%= user_points %>
    </div>

    <div class="questions_info_right_column_section">
      <p class="questions_info_right_column_number"> <%= @user_progress.user_specialty_points %> </p>
      <p>Points earned within <%= @specialty.name.upcase %> so far</p>
    </div>

    <div class="questions_info_right_column_section speciality_inline_count_blocks">
      <div class="speciality_count_block">
        <p class="questions_info_right_column_number videos_count_block"><%= @specialty.videos.count %></p>
        <p>Videos</p>
      </div>

      <div class="speciality_count_block">
        <p class="questions_info_right_column_number questions_count_block"><%= @specialty.questions.count %></p>
        <p>Questions</p>
      </div>

      <div class="speciality_count_block point_count_block" >
        <p class="questions_info_right_column_number"> <%= @user_progress.max_specialty_points %> </p>
        <p>Points Avaliable</p>
      </div>
    </div>
  </div>
  <!-- End speciality right column count -->

  <div class="main_notes_right_column_wrapper">
    <%= render partial: 'notes/note', collection: @specialty.notes %>
  </div>
  <!-- End notes list wrapper -->


  <div class="full_note_outer_wrapper">
  </div>
  <!-- End note wrapper -->
</div>
