<div class="lecture_questions_right_column notes_right_column">

  <% if current_user.is_trial_member? && !current_user.has_access_to?(@specialty) %>
    <div class="unlock_specialty_outer_wrapper">
      <div class="unlock_specialty_wrapper">
        <%= link_to "Unlock this specialty", specialty_specialty_unlocks_path(@specialty), method: :post, class: "podmedcis_button green" %>
        <div class="unlock_specialty_tooltip">Unlocking this specialty will give you access to all videos and questions</div>
      </div>
    </div>
  <% end %>

  <div class="right_column_save_note_button">
    <div class="right_column_save_note_button_wrapper">
      <a href="javascript:;" class="podmedcis_button grey" id="save_new_note_button">Save A New Note</a>
    </div>
  </div>

  <div class="video_page_notes_column">
    <div class="video_page_notes_column_title">
      <strong>Notes</strong>
      <p>Save personal notes for reference later</p>
    </div>
    <div class="video_page_notes_column_divide"></div>
    <%= render partial: 'notes/form' %>
  </div>

  <% if @specialty.cached_notes_count(current_user) > 0 %>
    <a href="javascript:;" class="notes_saved_button" id="notes_saved_button">
      <p class="questions_info_right_column_number"><%= @specialty.cached_notes_count(current_user) %></p>
      <p><%= pluralize(@specialty.cached_notes_count(current_user), 'Note').split[1] %> saved within <%= @specialty.name.upcase %></p>
    </a>
  <% end %>

  <div id="speciality_default_right_column">

    <div class="questions_info_right_column_section">
      <%= user_specialty_points(@user_progress, @specialty) %>
    </div>

    <div class="points_until_next_badge_section">
      <div class="points_until_next_badge_wrapper">
        <%= get_next_badge(@user_progress, @specialty) %>
      </div>
    </div>

    <div class="questions_info_right_column_section speciality_inline_count_blocks">
      <h3>Specialty Stats</h3>
      <div class="speciality_count_block">
        <p class="questions_info_right_column_number videos_count_block"><%= @specialty.cached_videos_count %></p>
        <p>Videos</p>
      </div>

      <div class="speciality_count_block">
        <p class="questions_info_right_column_number questions_count_block"><%= @specialty.cached_questions_count %></p>
        <p>Questions</p>
      </div>

      <div class="speciality_count_block point_count_block" >
        <p class="questions_info_right_column_number"> <%= @user_progress.max_specialty_points.to_i %> </p>
        <p>Points Avaliable</p>
      </div>
    </div>
  </div>
  <!-- End speciality right column count -->

  <div class="main_notes_right_column_wrapper">
    <%= render partial: 'notes/sidebar_note', collection: @specialty.cached_notes(current_user) %>
  </div>
  <!-- End notes list wrapper -->


  <div class="full_note_outer_wrapper">
  </div>
  <!-- End note wrapper -->
</div>
