<%= content_for(:title) { "Podmedics | #{@specialty.name}"} %>

<div class="inner questions_answers_page">

  <div class="sub_heading_wrapper">

    <h1><%= @specialty.name %></h1>

    <div class="sub_heading_button_set">
      <%= render 'quick_nav' %>
      <% if @specialty.questions.count > 0 %>
        <%= link_to specialty_exam_url(@specialty.id), class: "take_quiz_icon_button", id: 'quiz_link' do %>
          <div class="quiz_button_tooltip">30 random questions from <%= @specialty.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="page">
    <div class="speciality_left_column">
      <div class="lectures_speciality_outer_wrapper">
        <div id="tabs_single_page">
          <%= render 'specialties/tab_links' %>
          <div id="tabs_container">
            <div id="tabs-1" class="tab_box">
              <div class="inner_page_padding">
                <div class="lecture_list">
                  <h2>Videos</h2>
                  <%= render partial: 'dashboards/video_list', locals:
                      {videos: @videos} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flashcard_grid_wrapper">

        <div class="flashcard_grid_title">Flashcards</div>
        <% if @flashcards.count > 0 %>
        <ul class="tips">
          <% @flashcards.each_with_index do |flashcard, index| %>
              <li>
                <!-- front of the card-->
                <div class="tc_front">
                  <a href="#tip<%= index %>"><%= flashcard.title %></a>
                </div>
                <div class="tc_back"></div>

                <!-- content that appears on click -->
                <div id="tip<%= index %>" class="tip">
                  <div class="tc_front">
                    <!-- all flashcard content to go here -->
                    <h1><%= flashcard.title %></h1>
                    <p><%= flashcard.epidemiology.html_safe %></p>
                  </div>
                  <div class="tc_back"><p>Blah</p></div>
                </div>
              </li>

          <% end %>
        </ul>
        <% else %>
            <div class="flashcards_none">Sorry we don't have any flashcards yet for this specialty. Why don't you create one?</div>
        <% end %>
      </div>
    </div>

    <%= render 'specialty_stats' %>

    <div class="clear"></div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    var specialty_name = "<%= @specialty.name %>"
    mixpanel.track('Specialty viewed', {
      "name" : specialty_name
    });

    mixpanel.track_links("a#quiz_link", "Click Specialty Quiz", {
      "name" : specialty_name
    });

    mixpanel.track_links("a#quiz_link_header", "Click Specialty Quiz (header)", {
      "name" : specialty_name
    });
  });
</script>

