<div class="inner questions_answers_page">

  <div class="sub_heading_wrapper">
    <h1><%= @specialty.name %></h1>


    <div class="lectures_inline_button_wrapper">

      <div class="lectures_inline_dropdown_wrapper">
        <a href="javascript:;" class="podmedcis_button lectures_dropdown_button">Lectures</a>
        <div class="lectures_inline_dropdown">
          <div class="right_column_search_field">
            <form action="#">
              <input name="search" type="text" class="navigation_search_field" placeholder="Search">
              <button type="submit" class="navigation_search_field_search_button"></button>
            </form>
          </div>

          <div class="lectures_inline_dropdown_categories">
            <% @categories.each do |category| %>
              <a href="javascript:;" class="lectures_inline_dropdown_category_link <%= to_underscored(category.name) %>" data-category="<%= to_underscored(category.name) %>"><%= category.name %></a>
            <% end %>
          </div>


          <% @categories.each do |category| %>
            <div class="lectures_inline_dropdown_specialty_<%= to_underscored(category.name) %>">
                <div class="main_nav_inner_lectures_title_wrapper">
                  <div class="main_nav_inner_lectures_title"><%= category.name %></div>
                  <div class="lectures_inline_dropdown_back_button">Back</div>
                </div>
                <% category.specialties.each do |specialty| %>
                  <%= link_to specialty.name, specialty_path(specialty) %>
                <% end %>
              </div>
          <% end %>




        </div>
      </div>



      <div class="sub_heading_button_set">
        <a href="#" class="podmedcis_button white_button ask_question_sub_heading_button"  data-reveal-id="ask_question_modal">Ask a Question</a>
        <div class="exam_button_tooltip_wrapper">
          <%= link_to "Take a #{@specialty.name.capitalize} Quiz", specialty_exam_url(@specialty.id), class: "podmedcis_button" %>
          <div class="exam_button_tooltip">A selection of random questions from <%= @specialty.name %> <br /> (average test time approx. 15 mins)</div>
        </div>
      </div>
    </div>
  </div>

  <div class="page">
    <div class="speciality_left_column">
      <div class="lectures_speciality_outer_wrapper">
        <div id="tabs_single_page">
          <%= render 'specialties/tab_links' %>

          <div id="tabs_container">
            <div id="tabs-1" class="tab_box">
              <div class="inner_page_padding">
                <div class="tab_title">New Lectures</div>
                <div class="lecture_list">
                  <%= render partial: 'dashboards/video_list', locals: 
                      {videos: @videos} %>
                </div>
              </div>
            </div>
          </div>
          <!-- End tab container -->
        </div>
        <!-- End tabs -->
      </div>
      <!-- End speciality wrapper -->
    </div>
    <!-- End speciality left column -->

    <%= render 'specialty_stats' %>

  <!-- End right column -->

  <div class="clear"></div>
  </div>
  <!-- End page -->


</div>
<!-- End inner wrapper-->

<%= render 'specialty_questions/form' %>