<div class="inner questions_answers_page">

  <div class="sub_heading_wrapper">
    <h1><%= @specialty.name %></h1>
    <%= render 'quick_nav' %>
    <a href="#" class="podmedcis_button white_button ask_question_sub_heading_button"  data-reveal-id="ask_question_modal">Ask a Question</a>
    <div class="exam_button_tooltip_wrapper">
      <%= link_to "Take a #{@specialty.name.capitalize} Quiz", specialty_exam_url(@specialty.id), class: "podmedcis_button green" %>
      <div class="exam_button_tooltip">30 random questions from <%= @specialty.name %></div>
    </div>
    </div>
  </div>

  <div class="page">
    <div class="speciality_left_column">
      <div class="lectures_speciality_outer_wrapper">
        <div id="tabs_single_page">
          <%= render 'specialties/tab_links' %>
          <div id="tabs_container">
            <div id="tabs-1" class="tab_box">
              <div class="inner_page_padding">
                <div class="lecture_list">
                  <%= render partial: 'dashboards/video_list', locals:
                      {videos: @videos} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'specialty_stats' %>

  <div class="clear"></div>
  </div>
</div>

<%= render 'specialty_questions/form' %>
