<div class="question">
  <p><%= question.stem %></p>
  <ol>
    <li><%= question.answer_1 %></li>
    <li><%= question.answer_2 %></li>
    <li><%= question.answer_3 %></li>
    <li><%= question.answer_4 %></li>
    <li><%= question.answer_5 %></li>
  </ol>
  <p>Correct answer: <%= question.correct_answer %></p>
  <p><%= question.explanation %></p>
</div>
