
<div class="dashboard_count_blocks">
  <div class="dashboard_count_block overall_count_red">
    <p class="number"><%= current_user.points %></p>
    <p>Points Earned so far</p>
  </div>

  <div class="dashboard_count_block pass_count_green">
    <p class="number">8</p>
    <p>Exams Passed</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number">22</p>
    <p>Lectures Watched</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number">178</p>
    <p>Questions Answered</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number"><%= current_user.notes.count %></p>
    <p>Notes Saved</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number"> <%= current_user.badges.count %> </p>
    <p>Badges Earned</p>
  </div>
</div>
<% if current_user.badges.any? %>
  <div class="dashboard_badges_overview_wrapper">

    <div class="dashboard_badges_left_column">
      <div class="dashboard_badges_overview_inner_border">
          <%= render 'recent_badges' %>
      </div>
    </div>

    <div class="dashboard_badges_right_column">
          <%= render 'badges' %>
    </div>

  </div>
<% end %>

<div class="dashboard_pie_charts">
  <div class="dashboard_charts_set_wrapper">

    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest specialty</div>

      <ul data-pie-id="chart_one" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_one" class="pie_chart_outer"></div>

    </div>



    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest specialty</div>

      <ul data-pie-id="chart_two" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_two" class="pie_chart_outer"></div>

    </div>



    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest specialty</div>

      <ul data-pie-id="chart_three" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_three" class="pie_chart_outer"></div>

    </div>
  </div>

  <div class="tab_divider"></div>


  <div class="dashboard_charts_set_wrapper">

    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest specialty</div>

      <ul data-pie-id="chart_four" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_four" class="pie_chart_outer"></div>

    </div>



    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest specialty</div>

      <ul data-pie-id="chart_five" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_five" class="pie_chart_outer"></div>

    </div>


    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest specialty</div>

      <ul data-pie-id="chart_six" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_six" class="pie_chart_outer"></div>

    </div>


  </div>


</div>
