
<div class="dashboard_count_blocks">
  <div class="dashboard_count_block overall_count_red">
    <p class="number"><%= current_user.points %></p>
    <p>Points Earned so far</p>
  </div>

  <div class="dashboard_count_block pass_count_green">
    <p class="number">8</p>
    <p>Exams Passed</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number">22</p>
    <p>Lectures Watched</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number">178</p>
    <p>Questions Answered</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number"><%= current_user.notes.count %></p>
    <p>Notes Saved</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number"> <%= current_user.badges.count %> </p>
    <p>Badges Earned</p>
  </div>
</div>
<% if current_user.badges.any? %>
  <div class="dashboard_badges_overview_wrapper">

    <div class="dashboard_badges_left_column">
      <div class="dashboard_badges_overview_inner_border">
          <%= render 'recent_badges' %>
      </div>
    </div>

    <div class="dashboard_badges_right_column">
          <%= render 'badges' %>
    </div>

  </div>
<% end %>