<% videos.each do |video| %>
  <div class="lecture_list_item">
    <div class="lecture_list_left_column">
      <%= link_to video.title, video, class: 'video_link' %>
      <% if current_user.is_trial_member? && video.preview %>
        <span class="preview_marker">(preview)</span>
      <% end %>
      <p class="lecture_specialties_link">
        <%= link_to video.specialty_name, specialty_path(video.specialty) %>
        <span class="video_duration"><%= video.duration_as_string %></span>
        <span class="video_duration"><%= video.friendly_publication_date %></span>
        <% if video.has_questions? %>
        <span class="test-yourself"><%= link_to '| Test yourself', video_questions_url(:video_id => video.id), class: 'tip', :data => { :tip => 'Answer questions on this video'} %></span>
        <% end %>
      </p>
    </div>
    <div class="lecture_icons_wrapper">
      <%= show_lecture_icons(video) %>
    </div>
  </div>
<% end %>
