<div class="inner">
  <div class="sub_heading_wrapper">
    <h1>Dashboard</h1>
    <div class="sub_heading_dashboard_info">
      <p><strong>Welcome back <%= current_user.name %></strong></p>
      <% if allow? "admins", "dashboard" %>
        <p>
          <%= link_to 'Return to admin', admin_dashboard_path(current_user) %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="page dashboard_page">

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1" title="" class="stats_tab"><p>Your Progress</p><p class="icon"></p></a></li>
        <li><a href="#tabs-2" title="" class="recommended_lectures_tab"><p>Recommended</p><p class="icon"></p></a></li>
        <li><a href="#tabs-3" title="" class="lectures_tab"><p>Recent</p><p class="icon"></p></a></li>
      </ul>

      <div id="tabs_container">
        <div id="tabs-1" class="tab_box">
          <div class="stats_chart_wrapper">
            <div class="stats_chart">
                <div class="chart-wrapper">
                  <div id="chart"></div>
                </div>
            </div>
          </div>
          <%= render 'stats' %>
        </div>

        <div id="tabs-2" class="tab_box">
          <div class="inner_page_padding">
            <p class="recommended_tab_sub_title">We’ve recommended the tutorials below because you’ve either not completed them or you didn’t reach a pass grade of at least 78%.</p>
            <%= render partial: 'video_list', locals: {videos: @flagged_videos} %>
          </div>
        </div>

        <div id="tabs-3" class="tab_box">
          <div class="inner_page_padding">
            <div class="tab_title">New Lectures</div>
            <div class="lecture_list">
              <%= render partial: 'video_list', locals: {videos: @recent_videos} %>
            </div>
          </div>
        </div>


      </div>
  </div>

  <div class="clear"></div>
</div>

</div>

<%= render "chart.js.erb" %>