<div class="inner dashboard_page">
  <div>
    <div class="sub_heading_wrapper">
      <h1>Dashboard</h1>
      <div class="sub_heading_button_set">
        <%= render 'quick_nav' %>
      </div>
    </div>
  </div>

  <div class="page dashboard_page">

    <div id="tabs-1" class="tab_box">
      <div class="dashboard_header_wrapper">
        <div class="header_column">
          <div class="inner_header_column_divide">
            <div class="header_columns_inner_wrapper">
              <div class="dashboard_header_columns_title">Recent Lectures</div>
                <div class="dashboard_header_columns_lecture_blocks_wrapper">
                  <%= render partial: 'video_list', locals: { videos: @recent_videos} %>
              </div>
            </div>
          </div>
        </div>

        <div class="header_column">
          <div class="header_columns_inner_wrapper">
            <div class="dashboard_header_columns_title">Recommended Lectures</div>
              <div class="dashboard_header_columns_lecture_blocks_wrapper">
                <%= render partial: 'video_list', locals: { videos: @flagged_videos} %>
              </div>
          </div>
        </div>
      </div>

      <div class="stats_chart_wrapper" id="tour_step_one">
        <%= render 'stats' %>
      </div>
    </div>

  <div class="clear"></div>

</div>

<%= render "trial_user_modal" %>


</div>
