<div class="courses_block_outer">
  <div class="courses_left_column"></div>
  <div class="courses_right_column">
    <div class="course_title"><%= course.title %></div>
    <div class="course_date"><%= course.date.to_s(:long) %> / <%= number_to_currency(course.price, unit: '£') %></div>
    <div class="course_action_button">
      <%= link_to 'Find out more and book', course.event_link, class: 'red_button', target: '_blank' %>
    </div>
    <div class="course_info">
      <%= course.description.html_safe %>
    </div>
  </div>
</div>
