<tr>

  <td><%= note.id %></td>
  <td><%= note.created_at %></td>
  <td><%= note.updated_at %></td>
  <td><%= link_to note.specialty.name, admin_specialty_path(note.specialty) %></td>
  <td><%= link_to note.user, admin_user_path(note.user) %></td>
  <td>
    <ul class="actions">
      <li><%= link_to 'View', [:admin, note] %></li>
    </ul>
  </td>
</tr>
