<div class="pad-wrapper dashboard">
  
<div class="row header">
  <h1>Admin Dashboard</h1>
</div>

<div class="row section">
  <div class="col-md-4">
    <h3>Income last month</h3>
    <p><%= number_to_currency(Sale.income_last_month, unit: "£") %></p>
    <p>Target: £1500 </p>
  </div>
  <div class="col-md-4">
    <h3>Income last week</h3>
    <p><%= number_to_currency(Sale.income_last_week, unit: "£") %></p>
    <p>Target: £375</p>
  </div>
  <div class="col-md-4">
    <h3>Income trend</h3>
  </div>
</div>

<div class="row section">
  <div class="col-md-4">
    <h3>Plans</h3>
    <p>All Selected Plans</p>
    <%= bar_chart User.group(:selected_plan).count %>
  </div>

  <div class="col-md-4">
    <h3>Videos</h3>
    <p>Videos for preview</p>
    <%= pie_chart Video.group(:preview).count, colors: ["green", "red"] %>
  </div>

  <div class="col-md-4">
    <h3>Sale by type</h3>
    <p>Since new site launch</p>
    <%= bar_chart Sale.group(:product_id).count %>
  </div>
</div>

<div class="row section">
  <div class="col-md-6">
    <h3>New User Signups</h3>
    <p>By week</p>
    <%= line_chart User.group_by_week(:created_at, range: 4.months.ago..Time.now).count, colors: ["pink", "#999"] %>
  </div>

  <div class="col-md-6">
    <h3>Sales</h3>
    <p>By week</p>
    <%= line_chart Sale.group_by_week(:created_at, range: 4.months.ago..Time.now).count, colors: ["red", "#999"] %>
  </div>
</div>

<div class="row section">
  <div class="col-md-6">
    <h3>Badge Awards</h3>
    <p>By day</p>
    <%= line_chart Badge.group_by_day(:created_at, range: 4.months.ago..Time.now).count, colors: ["green"] %>
  </div>

  <div class="col-md-6">
    <h3>Question Engagement</h3>
    <p>By day</p>
    <%= line_chart  UserQuestion.group_by_day(:created_at, range: 4.months.ago..Time.now).count%>
  </div>
</div>

<div class="row section">
  <div class="col-md-12">
    <h3>Video Engagement</h3>
    <p>As measured by vimeo count per day</p>
    <%= line_chart Vimeo.group_by_day(:created_at, range: 4.months.ago..Time.now).count, colors: ["purple", '#999'] %>
  </div>
</div>

<div class="row section">
  <div class="col-md-6">
    <h3>Note Creation</h3>
    <p>By week</p>
    <%= line_chart Note.group_by_week(:created_at, range: 4.months.ago..Time.now).count, colors: ["#63c7fe"] %>
  </div>

  <div class="col-md-6">
    <h3>Note Updating</h3>
    <p>By week</p>
    <%= line_chart Note.group_by_week(:updated_at, range: 4.months.ago..Time.now).count, colors: ["#63c7fe"] %>
  </div>
</div>

</div>
