<div class="row form-wrapper">
  <div class="col-md-6">
    <%= simple_form_for [:admin, @user] do |f| %>
      <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.input :admin %>
        <%= f.input :selected_plan %>
        <%= f.input :subscribed_on %>
        <%= f.button :submit %>
    <% end %>
  </div>
</div>
