<tr class="user" id="<%= user.id %>">
  <td><%= link_to user.id, admin_user_path(user) %></td>
  <td><%= user.created_at.strftime("%B %e, %Y") %></td>
  <td><%= user %></td>
  <td><%= user.unlocked_specialties.count %></td>
  <td><%= user.email %></td>
  <td>
    <span class="label label-success"><%= user.subscribed_on.strftime("%B %e, %Y") if user.subscribed_on %></span>
  </td>
  <td>
    <span class="label label-success"><%= user.expires_on.strftime("%B %e, %Y") if user.expires_on %></span>
  </td>
  <td style="width: 100px;">
    <ul class="actions">
      <li><%= link_to "Show", admin_user_path(user) %></li>
    </ul>
  </td>
</tr>
