<tr class="user" id="<%= user.id %>">
  <td><%= link_to user.id, admin_user_path(user) %></td>
  <td><%= user.created_at.to_s(:long) %></td>
  <td><%= user %></td>
  <td><%= user.email %></td>
  <td>
    <span class="label label-success"><%= user.subscribed_on.strftime("%B %e, %Y") if user.subscribed_on %></span>
  </td>
  <td>
    <span class="label label-success"><%= user.expires_on.strftime("%B %e, %Y") if user.expires_on %></span>
  </td>
  <td><%= user.selected_plan %></td>
  <td><%= user.login_count %></td>
  <td><%= user.last_login_at.to_s(:long) if user.last_login_at %></td>
  <td><%= user.twitter %></td>
  <td><%= user.facebook %></td>
  <td>
    <%= link_to "Show", admin_user_path(user) %>
    <%= link_to "Edit", edit_admin_user_path(user) %>
    <%= link_to "Remove", admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?'} %>
    <% if user.suitable_for_reminder? %>
      <%= link_to "Send 1w reminder", send_1w_reminder_admin_user_path(user) %>
    <% end %>
  </td>
</tr>
