<div class="row header">
  <h3>Users (<%= @users.count %>)</h3>
  <div class="col-md-10 pull-right">
    <%= link_to "New User", new_admin_user_path, class: 'btn-flat success pull-right' %>
    <%= link_to "View all", admin_users_path, class: 'btn-flat success pull-right grey' %>
    <%= link_to "Remove users with no plan selected", remove_if_no_plan_admin_users_path, data: { confirm: 'Are you sure?'}, class: 'btn-flat success pull-right grey' %>

  </div>
</div>


<div class="row">
  <div class="col-md-8 ">
    <%= search_form_for @q, url: admin_users_path do |f| %>
      <%= f.search_field :email_cont, placeholder: 'Search by email...', class: 'search' %>
      <%= f.search_field :name_cont, placeholder: 'Search by name...', class: 'search' %>
      <%= f.search_field :id_eq, placeholder: 'Search by #id...', class: 'search' %>
      <%= f.submit 'Search', class: 'btn-flat' %>
      <br />
    <% end %>
  </div>
</div>

<%= will_paginate @users %>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class='table table-hover table-striped'>
        <thead>
          <tr>
            <%= content_tag :th, sort_link(@q, :id) %>
            <%= content_tag :th, sort_link(@q, :created_at) %>
            <%= content_tag :th, sort_link(@q, :name, 'Name', default_order: :desc) %>
            <th>Email</th>
            <th>Subscribed on</th>
            <th>Expires on</th>
            <%= content_tag :th, sort_link(@q, :selected_plan) %>
            <%= content_tag :th, sort_link(@q, :login_count) %>
            <th>Last Login At</th>
            <th>Unlocks</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= will_paginate @users %>
