<div class="row header">
  <h3>Users</h3>
  <div class="col-md-10 pull-right">
    <%= link_to "New User", new_admin_user_path, class: 'btn-flat success pull-right' %>
  </div>
</div>

<%= search_form_for @q, url: admin_users_path do |f| %>
  <%= f.text_field :email_cont, placeholder: 'Search by email...' %>
  <%= f.submit 'Search', class: 'btn-flat' %>
  <%= link_to "View all", admin_users_path %>
<% end %>

<%= will_paginate @users %>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>#ID</th>
            <th>Created at</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subscribed on</th>
            <th>Selected Plan</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= will_paginate @users %>
