<div class="page-header">
  <h1>
    <%= @user %>
  </h1>
  <div class="admin_video_buttons_title_block">
    <%= link_to "Edit", edit_admin_user_path(@user), class: 'btn-flat success' %>
    <%= link_to "Remove", admin_user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-flat success' %>
    <%= link_to "Send 1w reminder", send_1w_reminder_admin_user_path(@user), class: 'btn-flat success' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well user">
      <h4>Basic Info</h4>
      <p>Admin: <%= @user.admin %></p>
      <p>Name: <%= @user %></p>
      <p>Email: <%= @user.email %></p>
      <p><%= image_tag @user.get_avatar(:thumb, request) %></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h4>Subscription Info</h4>
      <p>Selected plan: <%= @user.selected_plan %></p>
      <p>Subscribed on: <%= @user.subscribed_on %></p>
      <p>Expires on: <%= @user.expires_on %></p>
      <h4>Unlocks</h4>
      <ul>
        <% @user.specialties.each do |specialty| %>
          <li><%= specialty.name %></li>
        <% end %>
      </ul>
      <h4>Sales</h4>
      <ul>
        <% @user.sales.each do |sale| %>
          <li><%= link_to sale.created_at.to_s(:long), admin_sale_path(sale) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <h4>Social</h4>
  <p>Provider: <%= @user.provider %></p>
  <p>UID: <%= @user.uid %></p>
  <p>Twitter: <%= @user.twitter %></p>
  <p>Facebook: <%= @user.facebook %></p>
  <p>Website: <%= @user.website %></p>
</div>

<div class="well">
  <p>Created at: <%= @user.created_at.to_s(:long) %></p>
  <p>Login Count: <%= @user.login_count %></p>
  <p>Last Login: <%= @user.last_login_at %></p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>Notifications</h4>
      <ul>
        <li>Receiver newsletters: <%= @user.receive_newsletters %></li>
        <li>Receive status updates: <%= @user.receive_status_updates %></li>
        <li>Receive social: <%= @user.receive_social_notifications %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>Badges</h4>
      <ul>
        <% @user.badges.includes(:specialty).each do |badge| %>
          <li>
            <%= badge.specialty.name %>
            <%= badge.level %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>Notes</h4>
      <ul>
        <% @user.notes.each do |note| %>
          <li>
            <%= note.title %> - <%= link_to 'View', admin_note_path(note) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>Questions</h4>
      <%= @user.user_questions.count %> questions answered
    </div>
  </div>
</div>
