<style type="text/css" media="all">
  .stripe-button-el {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 28px;
    background-color: #9B2530;
    outline: none;
    background-image: linear-gradient(#E52828,#E52828);
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    font-weight: 200;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  }

  .stripe-button-el span {
    padding-top: 14px;
    padding-bottom: 13px;
    outline: none;
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    background: #fa3f52;
    text-shadow: 0px 0px 0px #fa3f52;
    font-weight: 200;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    border-radius:6px;
  }
  .stripe-button-el:hover{
    background-color: #9B2530;
    background-image: linear-gradient(#9B2530,#9B2530);
    background: #9B2530;

  }

  .stripe-button-el span:hover {
    background-color: #9B2530;
    background-image: linear-gradient(#9B2530,#9B2530);
    background: #9B2530;

  }

  .stripe-button-el:not(:disabled):active span, .stripe-button-el.active span {
    background-color: #9B2530;
    background-image: linear-gradient(#9B2530,#9B2530);
    background: #9B2530;
    -webkit-box-shadow: 0 0px 0 #9B2530;
    -moz-box-shadow: 0 0px 0 #9B2530;
    -ms-box-shadow: 0 0px 0 #9B2530;
    -o-box-shadow: 0 0px 0 #9B2530;
    box-shadow: 0 0px 0 #9B2530;
    background: #9B2530;
    text-shadow: 0px 0px 0px #9B2530;
    color: #FFF;
    outline: none;
    border: none;
  }
</style>

<% if @error %>
  <%= @error %>
<% end %>

<div class="plans_header">
</div>

<div class="plans_columns_wrapper">

  <div class="plans_column" id="free_trial">
    <h2>Trial Membership</h2>
    <ul class="plans_column_features_list">
      <li>Expore the entire website</li>
      <li>Unlock <strong>two specialties</strong>of your choice</li>
      <li>View all videos/questions for your chosen specialties</li>
      <li>Full access to <strong>preview vidoes</strong> in all specialties</li>
      <li>No access to video, audio or slide downloads</li>
    </ul>

    <div class="plans_button_wrapper">
      <%= form_tag buy_path(permalink: @free_product.permalink) do %>
        <%= button_tag 'Choose Trial Membership', class: 'red_button' %>
      <% end %>
    </div>
    
  </div>


  <div class="plans_column">
    <h2>Premium Membership</h2>
    <div class="plans_column_price_wrapper">
      <div class="plans_column_price six_month_price_block">
      <p>&pound;<%= @paid_6 ? @paid_6.price_in_pounds : 'Error' %><span>/ 6m</span></p>
      </div>

      <div class="plans_column_price">
        <p>&pound;<%= @paid_12 ? @paid_12.price_in_pounds : 'Error' %><span>/ yr</span></p>
      </div>
    </div>
    <ul class="plans_column_features_list">
      <li>Full access to <strong>40 specialties</strong> (200 videos/2000 questions)</li>
      <li>Access to <strong>video, audio and slide downloads</strong></li>
      <li>In-depth performance tracking and badges</li>
    </ul>

    <div class="payment_system_options_buttons_wrapper">
      <p class="payment_options_initial_title">All payments are one-off (non-recurring)</p>
      <a href="javascript:;" class="initial_instant_checkout_button">Credit/Debit card</a>
      <a href="javascript:;" class="initial_paypal_checkout_button">Paypal</a>
    </div>

    <div class="plans_button_wrapper paid_plans_column_payment_buttons">
      <p class="payment_options_initial_title">Choose one of the below subscription terms</p>

      <%= form_tag buy_path(permalink: @paid_6.permalink) do %>
        <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-label="Podmedics (£14 - 6 Months)"
          data-name="Podmedics"
          data-currency="GBP"
          data-image="<%= asset_url 'podmedics_icon_x74.png' %>"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @paid_6.name %>"
          data-amount="<%= @paid_6.price %>"></script>
      <% end %>

      <%= form_tag buy_path(permalink: @paid_12.permalink) do %>
        <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-label="Podmedics (£20 - 12 Months)"
          data-name="Podmedics"
          data-currency="GBP"
          data-image="<%= asset_url 'podmedics_icon_x74.png' %>"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @paid_12.name %>"
          data-amount="<%= @paid_12.price %>"></script>
      <% end %>
      <p><a href="javascript:;" class="payment_options_back_button">Back to payment options</a></p>
    </div>


    <div class="paypal_payment_options_button_set">
      <p class="payment_options_initial_title">Choose one of the below subscription terms</p>
      <!-- TODO refactor into partial / helper -->
      <% if @paid_6 && @paid_12 %>
        <%= link_to "Podmedics (£#{@paid_6.price_in_pounds} - 6 Months)", current_user.paypal_url(@paid_6, receive_paypal_url), class: 'paypal_pay_button' %>
        <%= link_to "Podmedics (£#{@paid_12.price_in_pounds} - 12 Months)", current_user.paypal_url(@paid_12, receive_paypal_url), class: 'paypal_pay_button' %>
      <% else %>
        <%= link_to "Podmedics - 6 Months", current_user.paypal_url(@paid_6, receive_paypal_url), class: 'paypal_pay_button' %>
        <%= link_to "Podmedics - 12 Months)", current_user.paypal_url(@paid_12, receive_paypal_url), class: 'paypal_pay_button' %>
      <% end %>
      <p><a href="javascript:;" class="payment_options_back_button">Back to payment options</a></p>
    </div>
  </div>

</div>

<div class="plans_lower_info_blocks">

  <div class="plans_lower_info_block_wrapper">
    <div class="mail_icon_plans_lower_block"></div>
    <p>drop us an email anytime at <a href="mailto:contact@podmedics.com">contact@podmedics.com</a> and we would be delighted to give you any further information that you require.</p>
  </div>

  <div class="plans_lower_info_block_wrapper payment_system_block_icon">
    <div class="payment_system_icon_plans_lower_block"></div>
    <p>We use <%= link_to 'Stripe', 'https://stripe.com/gb' %> and <%= link_to "Paypal", "https://paypal.com" %> to process all our transactions.</p>
    <p>We never record your credit card data, and all information is encrypted and transmitted securely to the payment provider (over SSL).</p>
  </div>

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    mixpanel.track('Hit Plan Selection');
  });
</script>
