<style type="text/css" media="all">
  .stripe-button-el {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 28px;
    background-color: #9B2530;
    outline: none;
    background-image: linear-gradient(#E52828,#E52828);
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    font-weight: 200;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  }

  .stripe-button-el span {
    padding-top: 14px;
    padding-bottom: 13px;
    outline: none;
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 0 rgba(0,0,0,0.2);
    background: #fa3f52;
    text-shadow: 0px 0px 0px #fa3f52;
    font-weight: 200;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    border-radius:6px;
  }
  .stripe-button-el:hover{
    background-color: #9B2530;
    background-image: linear-gradient(#9B2530,#9B2530);
    background: #9B2530;

  }



  .stripe-button-el span:hover {
    background-color: #9B2530;
    background-image: linear-gradient(#9B2530,#9B2530);
    background: #9B2530;

  }


  .stripe-button-el:not(:disabled):active span, .stripe-button-el.active span {
    background-color: #9B2530;
    background-image: linear-gradient(#9B2530,#9B2530);
    background: #9B2530;
    -webkit-box-shadow: 0 0px 0 #9B2530;
    -moz-box-shadow: 0 0px 0 #9B2530;
    -ms-box-shadow: 0 0px 0 #9B2530;
    -o-box-shadow: 0 0px 0 #9B2530;
    box-shadow: 0 0px 0 #9B2530;
    background: #9B2530;
    text-shadow: 0px 0px 0px #9B2530;
    color: #FFF;
    outline: none;
    border: none;
  }


</style>
<% if @error %>
  <%= @error %>
<% end %>

<div class="plans_header">
  <h1>Plans</h1>
  <p>Choose the plan that suites you best.</p>
</div>

<div class="plans_columns_wrapper">

  <div class="plans_column" id="free_trial">
    <h2>Free Trial</h2>

    <ul class="plans_column_features_list">
      <li>Explore the entire site</li>
      <li>Unlock two specialties of your choice</li>
      <li>Full access to all videos and questions for each specialty</li>
      <li>Contribute to questions and answers for all specialties</li>
      <li>Upgrade at any time</li>
    </ul>

    <div class="plans_button_wrapper">
      <%= form_tag buy_path(permalink: @free_product.permalink) do %>
        <%= button_tag 'Choose Plan', class: 'red_button' %>
      <% end %>
    </div>

  </div>

  <div class="plans_column">
    <h2>Premium Membership</h2>
    <div class="plans_column_price_wrapper">
      <div class="plans_column_price six_month_price_block">
      <p>&pound;20<span>/ 6mo</span></p>
      </div>

      <div class="plans_column_price">
        <p>&pound;40<span>/ yr</span></p>
      </div>
    </div>
    <ul class="plans_column_features_list">
      <li>Full access to over 40 specialties (over 200 videos)</li>
      <li>Access to video, audio and slide downloads</li>
      <li>In-depth performance tracking</li>
      <li>Earn badges for your achievements</li>
      <li>Get answers through our Question and Answers system</li>
      <li>Priority Support</li>
    </ul>

    <div class="plans_button_wrapper">
      <%= form_tag buy_path(permalink: @paid_product.permalink) do %>
        <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-label="Podmedics (£20 - 6 Months)"
          data-name="Podmedics"
          data-currency="GBP"
          data-image="<%= asset_url 'podmedics_icon_x74.png' %>"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @paid_product.name %>"
          data-amount="<%= @paid_product.price %>"></script>
      <% end %>

      <%= form_tag buy_path(permalink: @paid_product.permalink) do %>
        <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-label="Podmedics (£40 - 12 Months)"
          data-name="Podmedics"
          data-currency="GBP"
          data-image="<%= asset_url 'podmedics_icon_x74.png' %>"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @paid_product.name %>"
          data-amount="<%= @paid_product.price %>"></script>
      <% end %>
    </div>
  </div>

</div>

<div class="plans_lower_info_blocks">

  <div class="plans_lower_info_block_wrapper">
    <div class="mail_icon_plans_lower_block"></div>
    <p>drop us an email anytime at <a href="mailto:contact@podmedics.com">contact@podmedics.com</a> and we would be delighted to give you any further information that you require.</p>
  </div>

  <div class="plans_lower_info_block_wrapper payment_system_block_icon">
    <div class="payment_system_icon_plans_lower_block"></div>
    <p>We use <%= link_to 'Stripe', 'https://stripe.com/gb' %> to process all our transactions.</p>
    <p>We never record your credit card data, and all information is encrypted and transmitted securely (over SSL).</p>
    <p>If you wish to use Paypal please <a href="mailto:contact@podmedics.com">Contact Us</a>.</p>
  </div>

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
