<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <li>
      <%= link_to  admin_dashboard_path do %>
        <i class="icon-home"></i>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li><%= link_to "Categories", admin_categories_path %></li>
    <li><%= link_to "Specialties", admin_specialties_path %></li>
    <li><%= link_to "Videos", admin_videos_path %></li>
    <li><%= link_to "FAQs", admin_faqs_path %></li>
    <li><%= link_to "Courses", admin_courses_path %></li>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Authors", admin_authors_path %></li>
    <li><%= link_to "Products", admin_products_path %></li>
    <li><%= link_to "Sales", admin_sales_path %></li>
    <li><%= link_to 'Newsletters', admin_newsletters_path %></li>
  </ul>
</div>
  
