<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <li><%= link_to "Dashboard", admin_dashboard_path %></li>
    <li><%= link_to "Categories", admin_categories_path %></li>
    <li><%= link_to "Specialties", admin_specialties_path %></li>
    <li><%= link_to "Videos", admin_videos_path %></li>
    <li><%= link_to "FAQs", admin_faqs_path %></li>
    <li><%= link_to "Courses", admin_courses_path %></li>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Authors", admin_authors_path %></li>
  </ul>
</div>
  
