<div class="header_outer">
  <%= link_to "", dashboard_path(current_user) , class: "podmedics_header_icon" %>
  <div class="header_navigation">
    <div class="user_dropdown_wrapper">
      <a href="javascript:;" class="user_dropdown_link">
        <p class="user_icon_header">
          <img src=" <%=asset_path "avatar-128.jpg" %>" width="128" height="128" />
        </p>
      </a>
      <div class="user_dropdown">
        <p>You have an unfinsihed Exam, do you want to continue with the exam?</p>
        <a href="#">Basic Principles Exam</a>
        <a href="#" class="red_block_button">Continue to Questions</a>
      </div>
    </div>
    <a href="javascript:;" class="menu_link" id="menu_action">Menu</a>
  </div>
</div>

<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <div class="inner_menu_wrapper">
    <div class="main_nav_wrapper" id="main_navigation">
      <%= link_to "Home", dashboard_path(current_user), class: 'nav-home' %>
      <a href="javascript:;" class="nav-lectures">Lectures</a>
      <a href="#" class="nav-courses">Courses</a>
      <%= link_to "Your Profile", user_path(current_user) %>
      <a href="#" class="nav-support">Support</a>
      <%= link_to "Logout", session_path(session), method: :delete, class: 'nav-logout' %>
    </div>
    <div class="main_search_wrapper">
      <div class="main_nav_inner_lectures_title_wrapper">
        <div class="main_nav_inner_lectures_title">Lectures</div>
        <div class="main_nav_inner_lectures_back_link">Back</div>
      </div>
      <div>
        <div class="right_column_search_field">
          <form action="#">
            <input name="search" type="text"  class="navigation_search_field" placeholder="Search"/>
            <button type="submit" class="navigation_search_field_search_button"></button>
          </form>
        </div>

        <div class="main_nav_wrapper speciality">
          <a href="javascript:;" class="medicine_speciality_link">Medicine</a>
          <a href="javascript:;" class="surgery_speciality_link">Surgery</a>
          <a href="javascript:;" class="clinical_speciality_link">Clinical Specialties</a>
          <a href="javascript:;" class="clinical_sciences_speciality_link">Clinical Sciences</a>
        </div>
      </div>
    </div>

    <div class="main_nav_wrapper medicine_speciality">
      <div class="main_nav_inner_lectures_title_wrapper">

        <div class="main_nav_inner_lectures_title">Medicine</div>
        <div class="speciality_nav_back_button">Back</div>
      </div>
      <a href="#">Medicine</a>
      <a href="#">Medicine</a>
      <a href="#">Medicine</a>

      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
    </div>

    <div class="main_nav_wrapper surgery_speciality">
      <div class="main_nav_inner_lectures_title_wrapper">

        <div class="main_nav_inner_lectures_title">Surgery</div>
        <div class="speciality_nav_back_button">Back</div>
      </div>

      <a href="#">Surgery</a>
      <a href="#">Surgery</a>
      <a href="#">Surgery</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
    </div>

    <div class="main_nav_wrapper clinical_speciality_list">
      <div class="main_nav_inner_lectures_title_wrapper">

        <div class="main_nav_inner_lectures_title">Clinical Specialties</div>
        <div class="speciality_nav_back_button">Back</div>
      </div>

      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
    </div>

    <div class="main_nav_wrapper clinical_sciences_speciality">
      <div class="main_nav_inner_lectures_title_wrapper">

        <div class="main_nav_inner_lectures_title">Clinical Sciences</div>
        <div class="speciality_nav_back_button">Back</div>
      </div>

      <a href="#">Clinical Sciences</a>
      <a href="#">Clinical Sciences</a>
      <a href="#">Clinical Sciences</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
      <a href="#">Medicine</a>
      <a href="#">Surgery</a>
      <a href="#">Clinical Specialties</a>
      <a href="#">Clinical Sciences</a>
    </div>
  </div>
</div>
<div class="navigation_outer_overlay"></div>






