<div class="header_outer">
  <%= link_to "", dashboard_path , class: "podmedics_header_icon" %>
  <div class="header_navigation">
    <%= render partial: 'dashboards/upgrade_messages' %>
    <div class="user_dropdown_wrapper">
      <a href="javascript:;" class="user_dropdown_link">
        <p class="user_icon_header">
          <%= image_tag current_user.get_avatar(:thumb) %>
        </p>
      </a>
      <div class="user_dropdown">
        <div class="user_points_count">
          <p class="points_number"><%= @current_user.points %></p>
          <p>points earned so far</p>
        </div>
        <div class="dropdown_inner_wrapper">
          <%= link_to "Visit your profile", user_path(current_user), class: 'red_block_button' %>
        </div>
      </div>
    </div>
    <a href="javascript:;" class="menu_link" id="menu_action">Menu</a>
  </div>
</div>

<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <div class="inner_menu_wrapper">
    <div class="main_nav_wrapper" id="main_navigation">
      <%= link_to "Home", dashboard_path(current_user), class: 'nav-home' %>
      <a href="javascript:;" class="nav-lectures">Lectures</a>
      <%= link_to "Notes", notes_path, class: 'nav-notes' %>
      <%= link_to "Live Courses", courses_path, class: 'nav-courses' %>
      <%= link_to "Your Profile", user_path(current_user), class: 'nav-profile' %>
      <%= link_to "Blog", posts_path, class: 'nav-blog' %>
      <%= link_to "Support", support_path, class: 'nav-support' %>
      <%= link_to "Logout", logout_path, class: 'nav-logout' %>
      <p class="slideout_nav_podmedics_icon"></p>
    </div>
    <div class="main_search_wrapper">
      <div class="main_nav_inner_lectures_title_wrapper">
        <div class="main_nav_inner_lectures_title">Lectures</div>
        <div class="main_nav_inner_lectures_back_link">Back</div>
      </div>
      <div>
        <div class="right_column_search_field">
          <%= form_tag videos_path, method: 'get' do %>
            <%= text_field_tag :search, params[:search], class: 'navigation_search_field', placeholder: 'Search' %>
            <button type="submit" class="navigation_search_field_search_button"></button>
          <% end %>
        </div>

        <div class="main_nav_wrapper category">
          <% @categories.each do |category| %>
            <a href="javascript:;" class="category_link" data-category="<%= to_underscored(category.name) %>"><%= category.name %></a>
          <% end %>
        </div>
      </div>
    </div>

    <% @categories.each do |category| %>
      <div class="main_nav_wrapper speciality <%= to_underscored(category.name) %>_specialty">
        <div class="main_nav_inner_lectures_title_wrapper">
          <div class="main_nav_inner_lectures_title"><%= category.name %></div>
          <div class="speciality_nav_back_button">Back</div>
        </div>
        <% category.specialties.each do |specialty| %>
          <%= link_to specialty.name, specialty_path(specialty) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="navigation_outer_overlay"></div>
