<div class="row form-wrapper">
  <div class="col-md-6">
    <%= simple_form_for [:admin, @video] do |f| %>
      <%= f.error_notification %>
      <%= f.input :position %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :tag_list, as: :text, hint: 'tags separated by commas' %>
      <%= f.association :specialty, as: :select, collection: Specialty.all.order(:name) %>
      <%= f.association :author, as: :select, collection: Author.all.order(:name) %>
      <%= f.input :vimeo_identifier, label: 'Vimeo Identifier' %>
      <%= f.input :file_name, label: 'Download file name' %>
      <%= f.input :duration %>
      <%= f.input :speaker_name %>
      <%= f.input :preview  %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
