<tr class="video <%= video.question_status %>">
  <td><%= video.id %></td>
  <td><%= link_to video.title, admin_video_path(video) %></td>
  <td><%= link_to video.specialty_name, admin_specialty_path(video.specialty) %></td>
  <td><%= video.questions_count %></td>
  <td><%= video.cached_comments_count(true) %></td>
  <td><%= video.speaker_name %></td>
  <td><%= video.author ? video.author_name : "Not set" %></td>
  <td><%= video.tag_list %></td>
  <td>
    <ul class="actions">
      <li><%= link_to "Edit", edit_admin_video_path(video) %></li>
      <li><%= link_to "Show", admin_video_path(video) %></li>
      <li><%= link_to "Send Notifications",  
                      send_notifications_admin_video_path(video), 
                      data: { confirm: "Send Emails for #{video.title}" }%></li>
      <li><%= link_to "Send Test Notifications", send_test_notifications_admin_video_path(video) %></li>
    </ul>
  </td>
</tr>
