<tr class='video'>
  <td><%= video.id %></td>
  <td><%= video.title %></td>
  <td><%= video.specialty_name %></td>
  <td><%= video.preview %></td>
  <td>
    <%= link_to "Edit", edit_admin_video_path(video) %>
    <%= link_to "Show", admin_video_path(video) %>
  </td>
</tr>
