<div class="row header">
  <h3>Videos</h3>
  <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
    <%= link_to "New video", new_admin_video_path, class: 'btn-flat success pull-right' %>
    <%= link_to "View all", admin_videos_path, class: 'btn-flat success pull-right grey' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= search_form_for @q, url: admin_videos_path do |f| %>
      <%= f.search_field :title_cont, placeholder: 'Search by title...', class: 'search' %>
      <%= f.submit 'Search', class: 'btn-flat' %>
    <% end %>
  </div>
</div>

<%= will_paginate @videos %>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class='table table-hover table-striped' border="0">
        <thead>
          <tr>
            <%= content_tag :th, sort_link(@q, :id) %>
            <%= content_tag :th, sort_link(@q, :title) %>
            <th>Specialty</th>
            <%= content_tag :th, sort_link(@q, :views) %>
            <th>Questions</th>
            <th>Tags</th>
            <%= content_tag :th, sort_link(@q, :is_proofread?) %>
            <%= content_tag :th, sort_link(@q, :upgraded?) %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @videos %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= will_paginate @videos %>
