<div class="row header">
  <h3>Videos</h3>
  <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
    <%= link_to "New video", new_admin_video_path, class: 'btn-flat success pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class='table table-hover' border="0">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Title</th>
            <th>Specialty</th>
            <th>Questions</th>
            <th>Comments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @videos %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h2>Import Videos</h2>
<%= form_tag import_admin_videos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h2>Import Questions</h2>
<%= form_tag import_admin_questions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
