<div class="page-header">
  <h1>
    <%= @video.title  %>
    <small><%= link_to "Edit", edit_admin_video_path(@video) %></small>
    <small><%= link_to 'View on frontend', video_path(@video) %></small>
    <small><%= link_to "Mark proofread", mark_proofread_admin_video_path(@video)  %></small>
  </h1>
  <p><%= link_to "Back to #{@video.specialty.name}", admin_specialty_path(@video.specialty) %>| <%= link_to "View all", admin_videos_path %></p>
</div>

<div class="well">
  <p>Created at: <%= @video.created_at.to_s(:long) %></p>
  <p>Updated at: <%= @video.updated_at.to_s(:long) %></p>
  <p>Proofread: <%= @video.proofread ? 'YES' : 'NO' %></p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <p>Description: <%= @video.description %></p>
      <p>Tags: <%= @video.tag_list %></p>
      <p>Duration: <%= @video.duration %></p>
      <p>Preview: <%= @video.preview %></p>
      <p>Views: <%= @video.views %></p>
      <p>Speaker: <%= @video.speaker_name %></p>
      <% if @video.author %>
        <p>Author: <%= link_to @video.author.name, admin_author_path(@video.author) %></p>
      <% end %>
      <p>File: <%= @video.file_name %></p>
    </div>

    <div class="downloads">
      <a href="http://podmedics-test-harness.s3.amazonaws.com/slides/<%= @video.file_name %>.pdf" class="btn btn-primary btn-xs", target="_blank">Download pdf</a>
    </div>
  </div>

  <div class="col-md-6">
    <iframe src="https://player.vimeo.com/video/<%= @video.vimeo_identifier %>?portrait=0&color=fa3f52" width="800px" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<h2>
  Questions
  <small>
    <%= link_to "Add question", new_admin_video_question_path(@video) %>
  </small>
</h2>
<p>Total: <%= @video.questions_count %></p>
<hr />

<div class="questions">
  <%= render @video.questions.order(:id) %>
</div>
