<div class="page-header">
  <h1>
    <%= @video.title  %>
    <small><%= link_to "Edit", edit_admin_video_path(@video) %></small>
  </h1>
</div>

<div class="well">
  <p>Created at: <%= @video.created_at %></p>
  <p>Updated at: <%= @video.updated_at %></p>
</div>

<div class="well">
  <p>Description: <%= @video.description %></p>
  <p>Duration: <%= @video.duration %></p>
  <p>Preview: <%= @video.preview %></p>
  <p>Views: <%= @video.views %></p>
  <p>Speaker: <%= @video.speaker_name %></p>
  <p>File: <%= @video.file_name %></p>
</div>

<h2>
  Questions
  <small>
    <%= link_to "Add question", new_admin_video_question_path(@video) %>
  </small>
</h2>
<p>Total: <%= @video.questions.count %></p>
<hr />

<div class="questions">
  <%= render @video.questions %>
</div>
