<tr class='course'>
  <td><%= course.id %></td>
  <td><%= course.title %></td>
  <td><%= course.date %></td>
  <td><%= course.price %></td>
  <td><%= course.event_link %></td>
  <td>
    <%= link_to "Edit", edit_admin_course_path(course) %>
  </td>
</tr>
