<tr class='course'>
  <td><%= course.id %></td>
  <td><%= course.title %></td>
  <td><%= course.date.to_s(:long) %></td>
  <td><%= course.price %></td>
  <td><%= course.event_link %></td>
  <td>
    <ul class="actions">
      <li><%= link_to "Edit", edit_admin_course_path(course) %></li>
      <li><%= link_to "Remove", admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?'} %></li>
    </ul>
  </td>
</tr>
