<div class="row form-wrapper">
  <div class="col-md-6">
    <%= simple_form_for [:admin, @course] do |f| %>
      <%= f.error_notification %>
      <%= f.input :title %>
      <%= f.input :price %>
      <%= f.input :date, as: :string %>
      <%= f.input :event_link %>
      <%= f.input :description, input_html: { cols: 50, rows: 10} %>
      <%= f.button :submit  %>
    <% end %>
  </div>
</div>
