<div class="inner questions_answers_page">

<div class="sub_heading_wrapper">
  <h1><%= @specialty.name %></h1>
  <div class="sub_heading_button_set">
    <a href="#" class="podmedcis_button white_button ask_question_sub_heading_button"  data-reveal-id="ask_question_modal">Ask a Question</a>
    <div class="exam_button_tooltip_wrapper">
      <%= link_to "Take #{@specialty.name.capitalize} Exam", specialty_exam_url(@specialty.id), class: "podmedcis_button" %>
      <div class="exam_button_tooltip">Take The <%= @specialty.name %> Exam.<br> Answer all 24 questions<br> (average test time approx 20mins)</div>
    </div>
  </div>
</div>

<div class="page">
  <div class="speciality_left_column">
    <div class="lectures_speciality_outer_wrapper">
      <div id="tabs_single_page">
        <ul>
          <li><a href="#" title="" class="lectures_tab"><p>Lectures</p><p class="icon"></p></a></li>
          <li><a href="#" title="" class="questions_answers_tab tabulous_active"><p>Questions & Answers</p><p class="icon"></p></a></li>
        </ul>

        <div id="tabs_container">
          <div id="tabs-2" class="tab_box">
            <div class="questions_answers_main_question">

              <div class="main_question_header">
                <div class="main_question_user_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>
                <h2>Question</h2>
                <p>Posted 24 Minutes ago by <a href="#">User</a></p>
              </div>
              <!-- End question header -->


              <div class="no_questions_reply_wrapper">Nothing posted yet. <a href="#">Be the first to answer</a></div>
              <!-- End nothing posted yet -->

              <div class="notification_wrapper">
                <div class="notification success">
                  <p>Sucess <span>A successful message</span></p>
                  <p class="close_notification"></p>
                </div>
              </div>


              <div class="notification_wrapper">
                <div class="notification error">
                  <p>Error <span>There has been a problem</span></p>
                  <p class="close_notification"></p>
                </div>
              </div>


              <div class="notification_wrapper">
                <div class="notification warning">
                  <p>Warning <span>A small problem</span></p>
                  <p class="close_notification"></p>
                </div>
              </div>


              <div class="notification_wrapper">
                <div class="notification info">
                  <p>Information <span>You have been informed</span></p>
                  <p class="close_notification"></p>
                </div>
              </div>

              <!-- End questions notifications -->



              <div class="question_comments_outer">

                <div class="comment">
                  <div class="inner_page_padding">
                    <div class="comment_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>

                    <div class="comment_info">
                      <h3>Jamie Peak</h3>
                      <p>Aenean ut felis vel odio viverra pretium. Nam mollis purus sit <a href="#">Amet lacus</a> tempus, et iaculis sapien aliquam. Pellentesque eu neque dolor. Nam mollis purus sit amet lacus tempus, et iaculis sapien aliquam. Pellentesque eu neque dolor. Pellent lentesque eu neque dolor.</p>
                      <p class="comment_date">About  a minute ago</p>

                      <div class="comment_badge_wrapper">
                        <a href="#" class="badge">
                          <p class="badge_title houseofficer">HouseOfficer</p>
                          <p class="badge_speciality small_screen_count">+ 1</p>
                          <p class="badge_speciality">Cardiology</p>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
                <!-- End comment -->



                <div class="comment_reply">
                  <div class="comment">
                    <div class="inner_page_padding">

                      <div class="comment_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>

                      <div class="comment_info">
                        <h3>Jamie Peak</h3>
                        <p>Aenean ut felis vel odio viverra pretium. Nam mollis purus sit amet lacus tempus, et iaculis <a href="#">sapien aliquam teque eu</a> neque dolor. Pellentesque dictum tellus leo, nec viverra ipsum laoreet vel.</p>
                        <p class="comment_date">About  a minute ago</p>

                        <div class="comment_badge_wrapper">
                          <a href="#" class="badge">
                            <p class="badge_title registrar">Registrar</p>
                            <p class="badge_speciality small_screen_count">+ 1</p>
                            <p class="badge_speciality">Cardiology</p>
                          </a>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- End comment reply -->



                <div class="comment">
                  <div class="inner_page_padding">
                    <div class="comment_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>
                    <div class="comment_info">
                      <h3>Jamie Peak</h3>
                      <p>Nam mollis purus sit lacus tempus, et iaculis sapien aliquam. Pellentesque eu neque dolor. Aenean ut felis vel odio viverra pretium. Nam mollis purus sit amet lacus tempus, et iaculis sapien aliquam. Pellentesque eu neque dolor. Pellentesque dictum tellus leo, nec viverra ipsum laoreet vel.</p>
                      <p class="comment_date">About  a minute ago</p>

                      <div class="comment_badge_wrapper">
                        <a href="#" class="badge">
                          <p class="badge_title medical_director">Medical Director</p>
                          <p class="badge_speciality small_screen_count">+ 1</p>
                          <p class="badge_speciality">Cardiology</p>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
                <!-- End comment -->
                <div class="questions_aswer_comment_textarea">
                  <div class="inner_page_padding">
                    <textarea name="" cols="" rows="" class="comments_textarea" placeholder="Write your comments here..."></textarea>
                    <button class="podmedcis_button green">Post Answer</button>
                  </div>
                </div>
                <!-- End questions textarea -->
              </div>
              <!-- End questions comments outer -->
            </div>
          </div>
          <!-- End tab 2 -->
        </div>
        <!-- End tab container -->
      </div>
      <!-- End tabs -->
    </div>
    <!-- End speciality wrapper -->
  </div>
  <!-- End speciality left column -->

  <%= render 'specialty_stats' %>

  <!-- End right column -->

  <div class="clear"></div>
</div>
<!-- End page -->


</div>
<!-- End inner wrapper-->



<div id="ask_question_modal" class="reveal-modal ask_question_modal_resize">
  <div class="ask_question_modal_wrapper">

    <div class="ask_question_modal_title">Ask a Question</div>
    <div class="ask_question_modal_sub_title">Need some advice, ask the community a question and get help..</div>

    <div class="ask_question_modal_form">
      <form action="#">
        <textarea name="" cols="" rows="" class="ask_question_modal_textarea" placeholder="Write your question here..."></textarea>
        <button class="podmedcis_button green">Post Answer</button>
      </form>
    </div>

  </div>
</div>

<!-- End ask question modal-->
