<div class="inner questions_answers_page">

<div class="sub_heading_wrapper">
  <h1><%= @specialty.name %></h1>
  <div class="sub_heading_button_set">
    <a href="#" class="podmedcis_button white_button ask_question_sub_heading_button"  data-reveal-id="ask_question_modal">Ask a Question</a>
    <div class="exam_button_tooltip_wrapper">
      <%= link_to "Take #{@specialty.name.capitalize} Exam", specialty_exam_url(@specialty.id), class: "podmedcis_button" %>
      <div class="exam_button_tooltip">Take The <%= @specialty.name %> Exam.<br> Answer all 24 questions<br> (average test time approx 20mins)</div>
    </div>
  </div>
</div>

<div class="page">
  <div class="speciality_left_column">
    <div class="lectures_speciality_outer_wrapper">
      <div id="tabs_single_page">
        <%= render 'specialties/tab_links' %>

        <div id="tabs_container">
          <div id="tabs-2" class="tab_box">
            <div class="questions_answers_main_question">

              <% if @question.user.id == current_user.id %>
                <%= link_to "Delete question", specialty_question_path(@question.specialty, @question), method: :delete %>
              <% end %>

              <div class="main_question_header">
                <div class="main_question_user_avatar"><img src="<%=asset_path "avatar-128.jpg" %>" width="128" height="128" /></div>
                <h2><%= @question.content %></h2>
                <p>Posted <%= time_ago_in_words(@question.created_at) %> ago by <a href="#"><%= @question.user.name %></a>
              </div>
              <!-- End question header -->


              <% if @question.comments_count == 0 %>
                <div class="no_questions_reply_wrapper">
                  Nothing posted yet. 
                  <a href="javascript:;"  data-reveal-id="ask_question_modal">
                    Be the first to answer.
                  </a>
                </div>
              <% end %>
              <!-- End nothing posted yet -->

              <ul>
                <li>
                  <a class="comments_tab"><p><%= @question.comments_count %> Answers</p>
                  </a>
                </li>
              </ul>

              <div class="questions_aswer_comment_textarea" id="comment_reply_textarea">
                <div class="inner_page_padding comments_textarea_wrapper">
                  <%= render partial: 'comments/form', locals: {root: @question} %>
                </div>
              </div>
              <!-- End questions textarea -->

              <div class="question_comments_outer">

                <%= render partial: 'comments/comment', collection: @comments %>
                <!-- End of comments -->

              </div>
              <!-- End comments outer -->
            </div>
          </div>
          <!-- End tab 2 -->
        </div>
        <!-- End tab container -->
      </div>
      <!-- End tabs -->
    </div>
    <!-- End speciality wrapper -->
  </div>
  <!-- End speciality left column -->

  <%= render 'specialties/specialty_stats' %>

  <!-- End right column -->

  <div class="clear"></div>
</div>
<!-- End page -->


</div>
<!-- End inner wrapper-->

<%= render 'specialty_questions/form' %>