<div class="inner questions_answers_page">

<div class="sub_heading_wrapper">
  <h1><%= @specialty.name %></h1>
  <div class="sub_heading_button_set">
    <%= render 'quick_nav' %>

    <a href="#" class="ask_question_icon_button" data-reveal-id="ask_question_modal">
      <div class="ask_question_button_tooltip">Ask the Podmedics Community a question</div>
    </a>

    <%= link_to specialty_exam_url(@specialty.id), class: "take_quiz_icon_button" do %>
      <div class="quiz_button_tooltip">30 random questions from Cardiology</div>
    <% end %>

  </div>
</div>

<div class="page">
  <div class="speciality_left_column">
    <div class="lectures_speciality_outer_wrapper">
      <div id="tabs_single_page">
        <%= render 'specialties/tab_links' %>

        <div id="tabs_container">
          <div id="tabs-2" class="tab_box">
            <div class="questions_answers_main_question">

              <% if @question.cached_user.id == current_user.id %>
                <div class="delete_comment_button_wrapper">
                  <%= link_to "Delete Question", 
                              specialty_question_path(@question.specialty, @question), 
                              method: :delete, 
                              class: "grey_button delete_comment_button",
                              data: { confirm: "Are you sure you want to delete this question?" } %>
                </div>
              <% end %>

              <div class="main_question_header">
                <div class="main_question_user_avatar"><%= image_tag @question.cached_user.get_avatar(:thumb) %></div>
                <h2><%= @question.content %></h2>
                <p> Posted 
                    <%= time_ago_in_words(@question.created_at) %> 
                    ago 
                    by 
                    <%= link_to @question.cached_user, 
                                @question.cached_user %>
              </div>
              <!-- End question header -->


              <% if @question.cached_comments_count == 0 %>
                <div class="no_questions_reply_wrapper">
                  Nothing posted yet. 
                  <a href="javascript:;" id="first_to_answer_question_link">
                    Be the first to answer.
                  </a>
                </div>
              <% end %>
              <!-- End nothing posted yet -->

              <div id="tabs_single_page" >
                <ul class="comment_count_tab_ul">
                  <li>
                    <a href="javascript:;" class="comments_tab tabulous_active static_comments_tab">
                      <p>Answers (<%= @question.cached_comments_count %>)</p>
                      <p class="icon"></p></a>
                  </li>
                </ul>
              </div>

              <div class="questions_aswer_comment_textarea" id="comment_reply_textarea">
                <div class="inner_page_padding comments_textarea_wrapper">
                  <%= render partial: 'comments/form', locals: {root: @question} %>
                </div>
              </div>
              <!-- End questions textarea -->

              <div class="question_comments_outer">

                <%= render partial: 'comments/comment', collection: @comments %>
                <!-- End of comments -->

              </div>
              <!-- End comments outer -->
            </div>
          </div>
          <!-- End tab 2 -->
        </div>
        <!-- End tab container -->
      </div>
      <!-- End tabs -->
    </div>
    <!-- End speciality wrapper -->
  </div>
  <!-- End speciality left column -->

  <%= render 'specialties/specialty_stats' %>

  <!-- End right column -->

  <div class="clear"></div>
</div>
<!-- End page -->


</div>
<!-- End inner wrapper-->

<%= render 'specialty_questions/form' %>
