<li><%= link_to "Your Profile", '#' %></li>
<li><%= link_to "Courses", '#' %></li>
<li><%= link_to "Lectures", '#' %></li>
<li><%= link_to "Support", '#' %></li>
<li><%= link_to "Logout", session_path(session), method: :delete %></li>
