<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="apple-mobile-web-app-title" content="Podmedics" >
    <meta name="description" content="Medical students - revise for end of year medical student exams with our multi choice questions (SBAs), videos, podcasts and downloads." >
    <meta name="keywords" content="OSCE, medical, student, exam, free, MCQs, EMQs, videos, podcasts, downloads, PACES" >
    <meta name="author" content="Podmedics Ltd">
    <title><%= content_for?(:title) ? yield(:title) : "Podmedics" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= render 'analytics' %>
    <%= csrf_meta_tags %>
    <%= render 'icons' %>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= content_for?(:navigation) ? yield(:navigation) : (render 'static_navigation') %>
    <main role="main">
      <%= render 'messages' %>
      <%= yield %>
    </main>
    <%= content_for?(:footer) ? yield(:footer) : (render 'footer') %>
  </body>

</html>
