<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-title" content="Podmedics">
    <title><%= content_for?(:title) ? yield(:title) : "Podmedics" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Podmedics" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= render 'analytics' %>
    <%= csrf_meta_tags %>
    <%= render 'icons' %>
  </head>

  <body>
    <%= content_for?(:navigation) ? yield(:navigation) : (render 'static_navigation') %>
    <main role="main">
      <%= render 'messages' %>
      <%= yield %>
    </main>
    <%= content_for?(:footer) ? yield(:footer) : (render 'footer') %>
    <%= render 'olark' %>
  </body>

</html>
