<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Podmedics" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Podmedics" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_for?(:navigation) ? yield(:navigation) : (render 'static_navigation') %>

    <main role="main">
      <%= render 'messages' %>
      <%= yield %>
    </main>

    <%= render 'footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
