<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="apple-mobile-web-app-title" content="Podmedics" >
    <meta property="og:image" content="https://podmedics.com/assets/home-brwoser_window_two-4b49d03b84d1f6fe87500c0c0e243095.png" >
    <meta property="og:title" content="Podmedics" >
    <meta property="og:description" content="I have just been awarded a new badge from Podmedics. Revise better for your med exams." >
    <meta name="description" content="Medical students - revise for end of year medical student exams with our multi choice questions (SBAs), videos, podcasts and downloads." >
    <meta name="keywords" content="OSCE, medical, student, exam, free, MCQs, EMQs, videos, podcasts, downloads, PACES" >
    <meta name="author" content="Podmedics Ltd">
    <title><%= content_for?(:title) ? yield(:title) : "Podmedics" %></title>
    <%= stylesheet_link_tag "user_application", media: "all" %>
    <%= yield(:extra_javascripts) %>
    <%= javascript_include_tag "user_application" %>
    <%= render 'analytics' %>
    <%= csrf_meta_tags %>
    <%= render 'icons' %>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= render 'mixpanel'  %>
  </head>

  <body>
    <main role="main">
      <%= render 'user_navigation_links' %>
      <%= render 'messages' %>
      <%= yield %>
    </main>
    <%= content_for?(:footer) ? yield(:footer) : (render 'footer') %>
  </body>

</html>
